In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd

In [0]:
s=df.isnull().any()

In [0]:
print(s)
df1=df[df['Rating'].isnull()==True]

Cust_Id    False
Rating      True
Date        True
dtype: bool

In [0]:
df1.shape

(4499, 3)

In [0]:
def preprocess(path):
  df=pd.read_csv(path,header=None,names = ['Cust_Id', 'Rating','Date'])
  ls=[]
  df1=df[df['Rating'].isnull()==True]
  cols=list(df1.index)
  m_id=list(df1['Cust_Id'].values)
  for i in range(len(cols)-1):
    c=m_id[i].strip(':')
    c=int(c)
    temp=[c]*(cols[i+1]-cols[i])
    ls.extend(temp)
  c=m_id[len(cols)-1].strip(':')
  c=int(c)
  temp=[c]*(df.shape[0]-cols[len(cols)-1])
  ls.extend(temp)
  df['movie_id']=ls
  df_final=df.drop(cols,axis=0)
  return df_final

In [0]:
df_1=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_1.txt.zip')

In [0]:
df_1.head()

   Cust_Id  Rating        Date  movie_id
1  1488844     3.0  2005-09-06         1
2   822109     5.0  2005-05-13         1
3   885013     4.0  2005-10-19         1
4    30878     4.0  2005-12-26         1
5   823519     3.0  2004-05-03         1

In [0]:
df_2=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_2.txt.zip')

In [0]:
df_2.head()

   Cust_Id  Rating        Date  movie_id
1  2532865     4.0  2005-07-26      4500
2   573364     3.0  2005-06-20      4500
3  1696725     3.0  2004-02-27      4500
4  1253431     3.0  2004-03-31      4500
5  1265574     2.0  2003-09-01      4500

In [0]:
df_3=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_3.txt.zip')

In [0]:
df_3.head()

   Cust_Id  Rating        Date  movie_id
1  1277134     1.0  2003-12-02      9211
2  2435457     2.0  2005-06-01      9211
3  2338545     3.0  2001-02-17      9211
4  2218269     1.0  2002-12-27      9211
5   441153     4.0  2002-10-11      9211

In [0]:
df_4=preprocess('/content/gdrive/My Drive/Reccommendation System/combined_data_4.txt.zip')

In [0]:
df_4.head()

   Cust_Id  Rating        Date  movie_id
1  2385003     4.0  2004-07-08     13368
2   659432     3.0  2005-03-16     13368
3   751812     2.0  2002-12-16     13368
4  2625420     2.0  2004-05-25     13368
5  1650301     1.0  2005-08-30     13368

In [0]:
print(df_1.shape,df_2.shape,df_3.shape,df_4.shape)

(24053764, 4) (26977591, 4) (22601629, 4) (26847523, 4)

In [0]:
d=df_1.sort_values(by=['Date'])

In [0]:
d.head(30)

          Cust_Id  Rating        Date  movie_id
9057969    510180     5.0  1999-11-11      1798
14895543   510180     3.0  1999-11-11      2866
19589582   510180     4.0  1999-11-11      3730
20397788   510180     2.0  1999-11-11      3870
6902840    510180     5.0  1999-11-11      1367
15347487   510180     3.0  1999-12-06      2948
17856999   510180     3.0  1999-12-06      3421
13153317   510180     3.0  1999-12-06      2478
8031305    122223     3.0  1999-12-08      1615
14347045   122223     3.0  1999-12-08      2780
6886297    122223     3.0  1999-12-08      1367
3235221    122223     4.0  1999-12-08       607
6124347    122223     4.0  1999-12-08      1202
20495135   122223     3.0  1999-12-08      3893
22137024   122223     3.0  1999-12-08      4171
20391312   204439     5.0  1999-12-09      3870
22286027  1972971     4.0  1999-12-09      4227
8882124    204439     4.0  1999-12-09      1770
6884528    204439     4.0  1999-12-09      1367
6753535    204439     3.0  1999-12-09      1309
18454227   204439     3.0  1999-12-09      3535
16178629  1972971     3.0  1999-12-09      3148
14345691   204439     1.0  1999-12-09      2780
1860034    204439     3.0  1999-12-09       344
15081044   204439     4.0  1999-12-09      2902
16177835   204439     5.0  1999-12-09      3148
11400821  1972971     2.0  1999-12-09      2178
254777    1972971     1.0  1999-12-09        55
11757117   204439     3.0  1999-12-09      2252
22595276   204439     3.0  1999-12-09      4271

In [0]:
l2=list(((df_final['Rating'].value_counts().values)/df_final.shape[0])*100)

In [0]:
l=list(d['Date'].values)

In [0]:
g=[x[:4] for x in l]

In [0]:
print(g[:4])
from collections import Counter
dct=Counter(g)

['1999', '1999', '1999', '1999']

In [0]:
dct['2001']

370691

In [0]:
print(templist)

['1999-11-11', '1999-11-11', '1999-11-11', '1999-11-11', '1999-11-11', '1999-12-06', '1999-12-06', '1999-12-06', '1999-12-08', '1999-12-08']

In [0]:
l1=list(df_final['Rating'].value_counts().index)

In [0]:
d=dict(zip(l1,l2))
df_final['Rating'].value_counts()
print(l1,l2)

[4.0, 3.0, 5.0, 2.0, 1.0] [33.615283662049734, 28.70312105830921, 22.892812118718716, 10.140088678013138, 4.648694482909202]

In [0]:
d[4]

33.615283662049734

In [0]:
movie_names=pd.read_csv('/content/gdrive/My Drive/Reccommendation System/movie_titles.csv',header=None,usecols=[0,1,2,3])

In [0]:
movie_names.head()

   0       1                             2    3
0  1  2003.0               Dinosaur Planet    1
1  2  2004.0    Isle of Man TT 2004 Review  NaN
2  3  1997.0                     Character  NaN
3  4  1994.0  Paula Abdul's Get Up & Dance  NaN
4  5  2004.0      The Rise and Fall of ECW  NaN

In [0]:
not_rows=movie_names[3][movie_names[3].isnull()==False]

In [0]:
l=list(not_rows.index)

In [0]:
l=l[1:]

In [0]:
l[0]

71

In [0]:
for x in l:
  movie_names.iloc[x,2]=  movie_names.iloc[x,2]+ ','+ movie_names.iloc[x,3]

In [0]:
movie_names.iloc[l,2].values

array(['At Home Among Strangers, A Stranger Among His Own',
       'Angelina Ballerina: Lights, Camera',
       'Dr. Quinn, Medicine Woman: Season 3',
       'Still, We Believe: The Boston Red Sox Movie',
       '20,000 Leagues Under the Sea', 'Doogie Howser, M.D.: Season 2',
       'Jo Jo Dancer, Your Life is Calling', "What's Up, Tiger Lily?",
       'He Loves Me, He Loves Me Not', 'He Said, She Said',
       'Fast Food, Fast Women', "Dr. Seuss's The 5,000 Fingers of Dr. T",
       "C'est La Vie, Mon Cheri",
       'Niagara: Miracles, Myths & Magic: IMAX',
       "Zakk Wylde's Black Label Society: Boozed, Broozed & Broken-Boned",
       'Dead Kennedys: In God We Trust, Inc.',
       'Brother, Can You Spare a Dime?',
       'Dr. Martin Luther King, Jr.: A Historical Perspective',
       'Sesame Street: Sing, Hoot & Howl',
       'Dr. Quinn, Medicine Woman: Season 5', 'Play it Again, Sam',
       'Vendetta: No Conscience, No Mercy', 'Truth or Consequences, N.M.',
       'Zorro, The Gay Blade', 'Welcome Back, Mr. McDonald',
       'Suze Orman: The Laws of Money, Lessons of Life',
       "AFI's 100 Years, 100 Movies",
       'Sesame Street: 1-2-3, Count with Me',
       'Eric Clapton: One More Car, One More Rider',
       'I Love You, I Love You Not',
       'Yes, Prime Minister: The Complete Collection', 'Kiss Me, Kate',
       'Love Me, Love My Money', "It's Me, the Thief",
       'Earth, Wind & Fire in Concert',
       'VeggieTales: Esther, the Girl Who Became Queen',
       'Lock, Stock and Two Smoking Barrels', 'Sex, Secrets',
       'Dancer, Texas', 'Shanghai, Shanghai',
       'Harvey Birdman, Attorney at Law: Vol. 1',
       'Planes, Trains and Automobiles',
       'Baby Einstein: On the Go: Riding, Sailing and Soaring',
       'Dragon Tales: Yes, We Can!',
       'Now and Then, Here and There: Vol. 1: Discord and Doom',
       'Empires: The Medici, Godfathers of the Renaissance',
       'A Girl, 3 Guys and a Gun', 'Where Angels Go, Trouble Follows',
       'Imitation of Life: Double Feature (1934, 1959)',
       'Secrets of Angels, Demons & Masons', 'I, Madman',
       'Now and Then, Here and There: Vol. 2: Flight and Fall',
       'Fast, Cheap & Out of Control',
       "Rugrats All Grown Up: Dude, Where's My Horse?",
       'Upstairs, Downstairs: Season 3', 'Dirty Tiger, Crazy Frog',
       'Fist of Fear, Touch of Death',
       'Yes, Minister: Complete Collection', 'Enemies, A Love Story',
       'Rage: 20 Years of Punk Rock, West Coast Style',
       'The Godfather, Part II',
       'Warren Miller: Bloopers, Blunders and Bailouts',
       'Goodbye South, Goodbye', 'Hi, Mom!',
       'U2: Go Home: Live From Slane Castle, Ireland',
       'I Spit on Your Corpse, I Piss on Your Grave',
       'Hush...Hush, Sweet Charlotte', 'Be Good, Smile Pretty',
       'Elvira, Mistress of the Dark', 'Bright Lights, Big City',
       'The Russians Are Coming, The Russians Are Coming',
       'S.W.A.T.: L.A., Las Vegas', 'Dr. Quinn, Medicine Woman: Season 2',
       'Come Back, Little Sheba', 'Ilsa, Harem Keeper of the Oil Sheiks',
       'Ranma 1/2: Ranma Forever: Vol. 8: Someday, Somehow',
       'Mary, Mother of Jesus', 'Tarzan, the Ape Man',
       'VeggieTales Classics: Rack, Shack and Benny', 'Double, Double',
       'John McLaughlin, Larry Coryell and Paco De Lucia: Meeting of the Spirits',
       'Jimmy Timmy Power Hour: Jimmy Neutron, Boy Genius / The Fairly Oddparents',
       'Drive Well, Sleep Carefully: On the Road with Death Cab for Cutie',
       'Modern Warfare: The Six Day War, Yom Kippur War',
       'Best of Travels in Europe with Rick Steves: Greece, Turkey',
       'The Beatles: Washington D.C. Feb. 11th,1964',
       'Walker, Texas Ranger: The Final Season',
       'Clifford: Look Out, Clifford! / Big Fun in the Sun',
       'Goodbye, Mr. Chips', 'Pretty Village, Pretty Flame',
       'Skinny Tiger, Fatty Dragon',
       'Chicago with Earth, Wind & Fire: Live at the Greek Theatre',
       'Mystery, Alaska', 'Girl, Interrupted',
       "Elmo's World: Families, Mail & Bath Time",
       'Usher: Rhythm City: Vol. 1: Money, Power',
       'Chuck Jones: Extremes and in Betweens, a Life in Animation',
       'I, Robot', 'See No Evil, Hear No Evil',
       'Best of Travels in Europe with Rick Steves: Germany, Austria & Switzerland',
       'Earth, Wind & Fire: Live in Japan', 'Sexo, Pudor y Lagrimas',
       "Dude, Where's My Car?", 'Upstairs, Downstairs: Season 4',
       'The Godfather, Part III', 'I, the Worst of All', 'Tinker, Tailor',
       'Other Voices, Other Rooms', 'Baby Songs: ABC,123',
       "It's a Mad, Mad", "Don't Raise the Bridge, Lower the River",
       'The Adventures of Priscilla, Queen of the Desert',
       'South Park: Ghouls, Ghosts and Underpants Gnomes',
       'I Spy: Vol. 20: So Long, Patrick Henry', 'Good Morning, Vietnam',
       'Van Halen Live: Right Here, Right Now',
       'Honey, We Shrunk Ourselves', 'Paris, France', 'Get Smart, Again!',
       'Quincy, M.E.: Seasons 1 & 2', 'Ciao, Professore!',
       'Sublime: Stories, Tales', "It's the Pied Piper, Charlie Brown",
       'On Any Sunday: Motocross, Malcolm and More',
       'ABC News Presents: Jesus, Mary and Da Vinci', 'I, Zombie',
       'Jamie Foxx Unleashed: Lost, Stolen and Leaked!',
       'South of Heaven, West of Hell', 'Good Times, Bed Times',
       'CKY: Infiltrate, Destroy', 'O Brother, Where Art Thou?',
       'Video Visits: Merida, Cancun and Belize',
       'Hans Brinker, or the Silver Skates',
       'Ladies and Gentlemen, Mr. Leonard Cohen', 'Easy Come, Easy Go',
       'Monsters, Inc.: Bonus Material', 'A Man, a Plan',
       "He's a Woman, She's a Man", 'Remember Me, My Love',
       'Bill Hicks Live: Satirist, Social Critic',
       "Hallelujah, I'm a Bum", 'Earth, Wind & Fire: Live by Request',
       'The Long, Hot Summer',
       'VeggieTales: Bible Heroes: Lions, Shepherds and Queens',
       'Satyam, Shivam', 'Blood, Guts',
       "It's the Great Pumpkin, Charlie Brown",
       'Manon of the Spring (Jean de Florette, Part II)', 'Ashtanga, NY',
       'Doogie Howser, M.D.: Season 1', 'The Good, the Bad and the Ugly',
       'Murder, She Wrote: Season 1',
       'Godzilla, Mothra and King Ghidorah: Giant Monsters All Out Attack',
       'Johnny Cash: At Town Hall Party, 1958 & 1959',
       "God is Great, I'm Not",
       'Crosby, Stills & Nash: The Acoustic Concert',
       'Mother, Jugs and Speed', 'Johnny Cash: The Man, His World',
       'Hello, Dolly!', 'My Schoolmate, the Barbarian',
       'Wake Up, Ron Burgundy',
       'The Good, the Bad and the Beautiful / The Bikini Academy: Double Feature',
       'Go, Go', 'Murder, My Sweet', 'Like Father, Like Son',
       'Bobby Jones, Stroke of Genius',
       'Bikini Bandits: Briefs, Shorts & Panties',
       'Lucinda Williams: Live from Austin, TX',
       'Dirty Mary, Crazy Larry', '20,000 Leagues Under the Sea',
       'I, Claudius', 'My Father, My Mother', 'A Gun, a Car',
       'A Cool, Dry Place', 'Blood In, Blood Out',
       'Lucy Must Be Traded, Charlie Brown',
       "Caroline Myss, Ph.D.: Why People Don't Heal / Three Levels of Power",
       'The Magic School Bus: Bugs, Bugs',
       "Elmo's World: Elmo Has Two! Hands, Ears & Feet",
       'To Wong Foo, Thanks for Everything! Julie Newmar',
       'Dr. Quinn, Medicine Woman: Season 6', "Dude, Where's the Party?",
       'Cheating Death, Stealing Life: The Eddie Guerrero Story',
       'Upstairs, Downstairs: Season 5', 'Upstairs, Downstairs: Season 2',
       'Good Night, Gorilla', 'Truly, Madly', 'Sgt. Kabukiman, N.Y.P.D.',
       'Count Yorga, Vampire',
       'The Kennel Murder Case / Nancy Drew, Reporter: Double Feature',
       'Kipper: Pools, Parks & Picnics', 'Babar, King of the Elephants',
       'Picasso: Magic, Sex', 'The Cook, the Thief', 'Oh, God! Book II',
       'National Geographic: Guns, Germs and Steel',
       'Easy Riders, Raging Bulls', 'I, A Woman',
       'White Hunter, Black Heart', 'Goodbye, Mr. Chips',
       'Monsters, Inc.', '20,000 Leagues Under the Sea',
       'Live at Knebworth: Parts One, Two & Three',
       'Honey, I Shrunk the Kids', 'New York, New York',
       'Sesame Street: A Celebration of Me, Grover!',
       "Now You See Him, Now You Don't",
       'Indigo Girls: Live at the Fillmore, Denver',
       'Kids in the Hall: Same Guys, New Dresses',
       'Six Days, Seven Nights',
       'Another State of Mind: Social Distortion, Youth Brigade and Minor Threat',
       'Sizzle Beach, USA', 'Heaven Knows, Mr. Allison',
       'Love, Honor and Obey',
       "Sesame Street: Elmo's World: Food, Water & Exercise!",
       'The Magic School Bus: Creepy, Crawly Fun', 'One, Two',
       'Black Mama, White Mama', 'Scotland, PA',
       'Quick Toning: Abs, Arms & Lower Body of Steel',
       'Run Silent, Run Deep', 'DeJohnette, Hancock',
       'The Wonderful, Horrible Life of Leni Riefenstahl',
       'Dr. Quinn, Medicine Woman: Season 1',
       'Sesame Street: Babies, Dogs & More', 'Eerie, Indiana',
       'Upstairs, Downstairs: Season 1',
       'The Three Stooges: Healthy, Wealthy and Dumb', 'Vernon, Florida',
       'Hi, Dharma!', "What's Up, Doc?",
       'Great People of the Bible: Abraham, Sarah',
       'Love, Sex & Eating the Bones', 'Mitr, My Friend',
       'Sorry, Wrong Number', 'Sheba, Baby', 'Yours, Mine and Ours',
       'Scream, Blacula', 'Thelonious Monk: Straight, No Chaser',
       'Britney Baby, One More Time', 'The Toxic Avenger, Part 3',
       'The 1,000 Eyes of Dr. Mabuse', 'Brother Sun, Sister Moon',
       'Ilsa, the Wicked Warden', 'Motley Crue: Lewd, Crued & Tattooed',
       'Sedona, The Spirit of Wonder: IMAX', 'Langrishe, Go Down',
       'Jasper, Texas',
       'Dracula, Dirty Old Man / Guess What Happened to Count Dracula',
       'Bob the Builder: Dig, Lift', 'House, M.D.: Season 1',
       'Car 54, Where Are You?', 'Suddenly, Last Summer',
       'Perfect Murder, Perfect Town', 'Steal Big, Steal Little',
       'Zone of the Enders: Dolores, i', 'Goodbye, Columbus',
       'To Sir, with Love', 'Sex, Politics & Cocktails',
       'Bodies, Rest & Motion', 'Faraway, So Close!', 'Kiss Me, Stupid',
       '10,000 Black Men Named George', 'Spring, Summer',
       "Sesame Street: Elmo's World: Birthdays, Games & More",
       'Paris, Texas', 'The Good, the Bad and the Ugly: Bonus Material',
       'Stevie Ray Vaughan and Double Trouble: Live from Austin, Texas',
       'Best of MADtv: Seasons 8, 9 and 10',
       "Changing Rooms: Trust Me, I'm a Designer",
       'South Park: Bigger, Longer and Uncut',
       'Jazz Casual: Basie, Gillespie',
       'New Crouching Tiger, Hidden Dragon', "Walk, Don't Run",
       'Tarzan, the Ape Man / Tarzan Escapes (Double Feature)',
       'Cry, the Beloved Country', 'He Say, She Say',
       'Play to Win: Secrets of Playing Slots, Blackjack & Craps',
       "Stan Lee's Mutants, Monsters & Marvels",
       'The Beast from 20,000 Fathoms', 'Steamboat Bill, Jr.',
       'Bear in the Big Blue House: Shapes, Sounds & Colors with Bear',
       'Martha, Inc.', "Samurai X: Trust and Betrayal, Director's Cut",
       'Now and Then, Here and There: Vol. 3: Conflict and Chaos',
       'Dave Matthews Band: Live at Folsom Field Boulder, Colorado',
       'Cornbread, Earl and Me',
       'God, the Devil & Bob: The Complete Series', 'sex, lies',
       'Aloha, Bobby and Rose', 'Keep the Faith, Baby',
       'Judy, Frank and Dean: Once in a Lifetime',
       'Legally Blonde 2: Red, White & Blonde', 'Objective, Burma!',
       'The One and Only, Genuine', 'The Toxic Avenger, Part 2',
       'Milwaukee, Minnesota', 'Same Time, Next Year',
       'Always Outnumbered, Always Outgunned',
       'Emerson, Lake & Palmer: Welcome Back',
       "Don't Ask, Don't Tell (Attack of the Gay Space Invaders)",
       'Bellydance Fitness for Beginners: Arms, Abs',
       'Greystoke: The Legend of Tarzan, Lord of the Apes',
       'Dr. Quinn, Medicine Woman: Season 4', 'Frank McKlusky, C.I.',
       'Crouching Tiger, Hidden Dragon', "AFI's 100 Years, 100 Stars",
       'Ilsa, She Wolf of the SS', 'Good Bye, Lenin!',
       'Earth, Wind and Fire: Live', 'Late August, Early September',
       'Honey, I Blew Up the Kid', 'House of 1,000 Corpses',
       'Alanis Morissette: Jagged Little Pill, Live',
       'Divorce, Italian Style', 'Hey, Happy!', 'Aelita, Queen of Mars',
       'Follow Me, Boys!', 'Corrina, Corrina', 'Happy, Texas',
       'Paradise, Hawaiian Style', 'Bell, Book and Candle',
       'Shake, Rattle & Rock', 'The Three Stooges: Stop, Look and Laugh',
       'Good Men, Good Women', 'The Hot, The Cool and the Vicious',
       'Dennis Miller - Live from Washington, D.C.',
       'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
       "I Love You, Don't Touch Me", 'Be My Valentine, Charlie Brown',
       'Me, Myself & Irene', 'Read-Along: Monsters, Inc.',
       "It's the Easter Beagle, Charlie Brown", 'Fort Apache, the Bronx',
       "They Shoot Horses, Don't They?",
       'Into the Thin Air of Everest: Mountain of Dreams, Mountain of Doom'],
      dtype=object)

In [0]:
movie_names=movie_names.drop([3],axis=1)

In [0]:
movie_names.iloc[71]

0                                                   72
1                                                 1974
2    At Home Among Strangers, A Stranger Among His Own
Name: 71, dtype: object

In [0]:
!pip install surprise
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise import accuracy

Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.17.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)

In [0]:
df_rec=df_1[['Cust_Id','movie_id','Rating']]

In [0]:
df_1.shape

(24053764, 4)

In [0]:
reader = Reader()
svd = SVD()
data=Dataset.load_from_df(df_rec[:100000],reader)
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0597  1.0484  1.0533  1.0483  1.0543  1.0528  0.0042
MAE (testset)     0.8435  0.8281  0.8384  0.8380  0.8417  0.8379  0.0053
Fit time          5.43    5.41    5.36    5.51    5.43    5.43    0.05
Test time         0.14    0.22    0.15    0.23    0.15    0.17    0.04

{'fit_time': (5.4275078773498535,
  5.40898871421814,
  5.355102777481079,
  5.505940675735474,
  5.431199550628662),
 'test_mae': array([0.84347828, 0.82808636, 0.83842089, 0.83798478, 0.84167935]),
 'test_rmse': array([1.05968167, 1.04837421, 1.0532833 , 1.04832633, 1.05430221]),
 'test_time': (0.14088797569274902,
  0.21642541885375977,
  0.14550375938415527,
  0.22505712509155273,
  0.1454164981842041)}

In [0]:
traindata=Dataset.load_from_df(df_rec[:200000],reader)
traindata=traindata.build_full_trainset()
svd.fit(traindata)

In [0]:
uid=df_2[df_2['Cust_Id']==510180]


svd.predict(510180,1).est

3.863991588594712

In [0]:
df_rec=    df_rec[:20000]
ls1=df_rec['Cust_Id'].values
ls2=df_2['Cust_Id'].values

In [0]:
ls2.shape
ls1.shape

(24053764,)

In [0]:
df_2['Rating'].isnull().any()

False

In [0]:
import numpy as np
cmn=np.intersect1d(ls1,ls2)

In [0]:

actual_array=df_2[df_2['Cust_Id'].isin(cmn)]

In [0]:
actual_array=actual_array['Rating'].values

10        NaN
1000004   NaN
1000027   NaN
1000033   NaN
1000035   NaN
1000038   NaN
1000051   NaN
1000057   NaN
100006    NaN
1000062   NaN
Name: Rating, dtype: float64

In [0]:
uid.shape

(0, 4)

In [0]:
testset = traindata.build_anti_testset()
predictions = svd.test(testset)

NameError: ignored

In [0]:
print(predictions[:10])

[Prediction(uid='1488844', iid=2, r_ui=3.647685, est=3.9342207858627463, details={'was_impossible': False}), Prediction(uid='1488844', iid=3, r_ui=3.647685, est=4.096366002826722, details={'was_impossible': False}), Prediction(uid='1488844', iid=4, r_ui=3.647685, est=2.6200598803566195, details={'was_impossible': False}), Prediction(uid='1488844', iid=5, r_ui=3.647685, est=4.342852343170405, details={'was_impossible': False}), Prediction(uid='1488844', iid=6, r_ui=3.647685, est=2.7433884504147454, details={'was_impossible': False}), Prediction(uid='1488844', iid=7, r_ui=3.647685, est=2.3334821381350395, details={'was_impossible': False}), Prediction(uid='1488844', iid=9, r_ui=3.647685, est=2.5247397881607005, details={'was_impossible': False}), Prediction(uid='1488844', iid=10, r_ui=3.647685, est=3.18099204464715, details={'was_impossible': False}), Prediction(uid='1488844', iid=11, r_ui=3.647685, est=3.245238744343052, details={'was_impossible': False}), Prediction(uid='1488844', iid=12, r_ui=3.647685, est=3.525604478810273, details={'was_impossible': False})]

In [0]:
accuracy.rmse(predictions)

RMSE: 0.6224

0.6224425849454069

In [0]:
import pandas as pd
movie_list=pd.read_csv('/content/gdrive/My Drive/merged.csv')

In [0]:
movie_list.shape

(12662, 39)

In [0]:
movie_list=movie_list.iloc[:,3:]

In [0]:
movie_list.head(1)

  country director  dvd  ... website writer        year
0     USA      NaN  NaN  ...     NaN    NaN  2003Ã¢ÂÂ

[1 rows x 36 columns]

In [0]:
movie_list.columns

Index(['country', 'director', 'dvd', 'genre', 'imdb_id', 'imdb_rating',
       'imdb_votes', 'language', 'metascore', 'movie_id', 'movie_year_netflix',
       'plot', 'poster', 'production', 'rated', 'ratings', 'released',
       'response', 'runtime', 'title', 'tomato_consensus', 'tomato_fresh',
       'tomato_image', 'tomato_meter', 'tomato_rating', 'tomato_reviews',
       'tomato_rotten', 'tomato_url', 'tomato_user_meter',
       'tomato_user_rating', 'tomato_user_reviews', 'total_seasons', 'type',
       'website', 'writer', 'year'],
      dtype='object')

In [0]:
lg=list(movie_list['genre'].value_counts()[movie_list['genre'].value_counts()==1].index)

In [0]:
print((lg))

['Adventure, Horror, Mystery, Sci-Fi, Thriller', 'Action, Biography, Drama, Romance, War', 'Adventure, Comedy, Drama, Music', 'Animation, Action, Sci-Fi, Thriller', 'Adventure, Comedy, Crime, Mystery', 'Comedy, Crime, Drama, Sport', 'Animation, Adventure, Drama, Thriller', 'Comedy, Adventure, Family', 'Documentary, Short, War', 'Drama, Thriller, War, Action', 'Animation, Adventure, Action', 'Adventure, Comedy, Romance, War', 'Animation, Adventure, Comedy, Fantasy, Romance, Sci-Fi, Thriller', 'Crime, Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller', 'Action, Comedy, Sci-Fi, Sport', 'Music, Romance', 'Drama, Musical, Family, Romance', 'Drama, History, Musical, Romance', 'Action, Crime, Drama, Romance, Thriller, Western', 'Animation, Adventure, Family, Thriller', 'Animation, Comedy, Family, Fantasy, Musical, Mystery', 'Adventure, Fantasy, History', 'Drama, Music, Romance, Thriller', 'Adventure, Comedy, Family, Music, Romance', 'Animation, Comedy, Crime, Sci-Fi, Thriller', 'Crime, Fantasy, Horror, Mystery', 'Comedy, Crime, Drama, Musical, Mystery, Romance', 'Animation, Drama, Romance, Sci-Fi', 'Action, Comedy, Fantasy, Horror, Music', 'Comedy, Drama, History, Mystery, Romance', 'Action, Animation, Comedy, Drama, Sci-Fi', 'Action, Family, Romance, Sport', 'Adventure, Biography, Comedy, Drama, Romance', 'Animation, Action, Adventure, Romance', 'Biography, Drama, Fantasy, Mystery, Sci-Fi', 'Animation, Drama, Family, Mystery, Sci-Fi', 'Short, Drama, Music, Sci-Fi', 'Family, Comedy, Action', 'Short, Sci-Fi', 'Action, Comedy, Family, Romance', 'Crime, Drama, Musical, Romance, Thriller', 'Short, Reality-TV', 'Action, Adventure, Romance, War', 'Animation, Action, Adventure, Crime, Drama, Family, Mystery, Romance, Sci-Fi, Thriller', 'Biography, Drama, History, Musical', 'Comedy, Horror, Romance', 'Comedy, Romance, Sci-Fi, Thriller', 'Comedy, Romance, Musical, Drama', 'Biography, Comedy', 'Drama, Fantasy, Music, Romance', 'Adventure, Comedy, Family, Fantasy, Horror, Mystery, Sci-Fi', 'Comedy, Crime, Drama, Mystery, Romance, Thriller', 'Crime, Horror, Sci-Fi, Mystery, Thriller', 'Adventure, Drama, Fantasy, Romance, Sci-Fi', 'Comedy, Crime, Romance, Western', 'Animation, Short, Adventure, Fantasy, Sci-Fi, Thriller', 'Animation, Family, Music, Musical', 'Action, Fantasy, Horror, Mystery', 'Action, Comedy, Crime, Drama, Thriller, Western', 'Adventure, Drama, Romance, Sci-Fi, Thriller', 'Crime, Drama, Horror, Mystery', 'Drama, History, Musical', 'Action, Comedy, Fantasy, Horror, Romance', 'Adventure, Crime, Film-Noir, Music, Mystery, Thriller', 'Action, Comedy, Crime, Family, Sci-Fi', 'Drama, Adventure, Action', 'Animation, Short, Action, Adventure, Drama, Fantasy, Sci-Fi, Thriller', 'Mystery, Thriller, Horror', 'Action, Crime, Drama, Family, Musical, Romance', 'Action, Biography, Drama, Romance', 'Horror, Thriller, War', 'Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller', 'Drama, Family, Fantasy, Musical, Romance, Thriller', 'Horror, Mystery, Romance, Sci-Fi, Thriller', 'Action, Crime, Horror, Mystery, Thriller', 'Adventure, History, Romance, War', 'Crime, Drama, Fantasy, Mystery, Romance', 'Short, Adventure', 'Comedy, Drama, Thriller, Mystery', 'Action, Adventure, Crime, Drama, Romance', 'Horror, Musical', 'Action, Romance, Animation, Comedy, Adventure, Sci-Fi', 'Comedy, Crime, Drama, War', 'Action, Comedy, Fantasy, Sport', 'Documentary, Comedy, Sport', 'Romance, Comedy, Mystery', 'Fantasy, Horror, Sci-Fi, Thriller', 'Animation, Family, Romance', 'Biography, History, Romance', 'Horror, Romance, Sci-Fi', 'Biography, Crime, Drama, Western', 'Musical, Comedy, Sci-Fi', 'History, War', 'Drama, Fantasy, Thriller, Mystery, Sci-Fi, Horror', 'Animation, Action, Adventure, Fantasy, Horror, Romance', 'Action, Comedy, Crime, Thriller, Western', 'Fantasy, Animation', 'Adventure, Drama, Romance, Thriller', 'Animation, Comedy, Drama, Family, Fantasy', 'Biography, Comedy, Musical', 'Adventure, Comedy, Fantasy, Romance', 'Animation, Adventure, Sci-Fi, Action', 'Drama, Romance, Adventure', 'Adventure, Animation, Drama, Fantasy, Romance, Action, Sci-Fi, Thriller', 'Crime, Horror, Romance', 'Fantasy, Drama, Adventure', 'Crime, Film-Noir, Mystery, Sport, Thriller', 'Adventure, Family, Sci-Fi, War', 'Crime, Drama, History, Romance, Thriller', 'Sci-Fi, Drama', 'Documentary, Comedy, Romance', 'Family, Adventure, Fantasy, Animation', 'Crime, Documentary', 'Action, Adventure, Comedy, Crime, Sci-Fi, Thriller', 'Crime, Drama, Sport, Thriller', 'Family, Animation', 'Comedy, Drama, Family, Fantasy, Sci-Fi', 'Comedy, Fantasy, Musical, Sci-Fi', 'Crime, Drama, Fantasy, Mystery', 'Animation, Action, Adventure, Comedy, Drama, Fantasy, Thriller', 'Fantasy, Romance, Action', 'Comedy, Drama, Sci-Fi, War', 'Action, Thriller, Drama', 'Documentary, Crime, Music', 'Animation, Adventure, Comedy, Drama, Fantasy, Sci-Fi', 'Action, Crime, Drama, Musical, Thriller', 'Action, Comedy, Fantasy, Mystery', 'Action, Crime, Drama, Film-Noir, Thriller', 'Fantasy, Horror, Mystery, Romance, Thriller', 'Adventure, Comedy, Fantasy, Horror, Mystery, Sci-Fi, Thriller', 'Drama, Family, Music', 'Adventure, Drama, Horror, Sci-Fi', 'Comedy, Romance, Music', 'Documentary, Family, Music', 'Adventure, Comedy, Drama, Family, Fantasy, Horror, Mystery, Sci-Fi, Thriller', 'Drama, Film-Noir, Mystery, Romance, Thriller', 'Action, Adventure, Comedy, Horror', 'Action, Comedy, Drama, Family, Sport', 'Drama, Horror, Romance, Sci-Fi, Thriller', 'Adventure, Comedy, Drama, Romance, Sci-Fi', 'Crime, Drama, Fantasy', 'Crime, Drama, Romance, Western', 'Film-Noir, Mystery, Thriller', 'Animation, Action, Adventure, Comedy, Drama, Thriller', 'Animation, Family, Action, Comedy, Mystery', 'Comedy, Drama, Fantasy, Music', 'Animation, Adventure, Comedy, Drama', 'Crime, Film-Noir, Horror', 'Animation, Action, Fantasy, Horror, Thriller', 'Short, Family, Musical', 'Drama, History, Music, Romance', 'Adventure, Fantasy, Mystery, Thriller', 'Fantasy, Drama, Mystery, Thriller', 'Action, Comedy, Adventure', 'Adventure, Comedy, Family, Fantasy, Mystery, Romance', 'Comedy, Musical, Romance, Western', 'Action, Horror, Animation', 'Drama, Film-Noir, Thriller, War', 'Crime, Drama, Film-Noir, Mystery, Romance, Thriller', 'Comedy, Family, Music, Romance', 'Short, Crime, Drama', 'Adventure, Family, Sport', 'Biography, Crime, Drama, War', 'Action, Animation', 'Animation, Comedy, Family, War, Fantasy', 'Action, Adventure, Comedy, Drama, Romance, Western', 'Animation, Adventure, Biography, Drama, Family, History, Musical', 'Adventure, Film-Noir, Romance, Thriller, War', 'Horror, Drama, Sci-Fi', 'Music, War', 'Action, Romance, Drama', 'Adventure, Mystery, Sci-Fi, Thriller', 'Drama, Romance, Musical', 'Adventure, Biography, Comedy', 'Action, Sci-Fi, Comedy', 'Musical, Drama, Action', 'Horror, Action, Comedy', 'Documentary, Comedy, History', 'Drama, Action, Thriller', 'Comedy, Horror, Mystery, Sci-Fi, Thriller', 'Documentary, Biography, Mystery', 'Comedy, Drama, Mystery, Sci-Fi', 'Family, Reality-TV', 'Drama, Thriller, Fantasy', 'Adventure, Drama, Fantasy, Mystery', 'Comedy, Drama, Horror, Mystery, Thriller', 'Comedy, Family, Musical', 'Animation, Action, Adventure, Family, Mystery', 'Drama, Game-Show, Thriller', 'Documentary, Biography, Comedy, Drama', 'Animation, Adventure, Comedy, Family, Musical, Romance', 'Drama, Short', 'Action, Crime, Drama, Fantasy, Mystery, Thriller', 'Action, Adventure, Comedy, Drama, War', 'Drama, History, Romance, War, Western', 'Adventure, Drama, History, Horror, Thriller', 'Mystery, Action, Thriller', 'Animation, Drama, Fantasy, Sci-Fi', 'Action, Adventure, Comedy, Family, Sport', 'Action, Adventure, Comedy, Drama, Family, Sci-Fi, Sport', 'Action, Drama, History, Romance, War, Western', 'Family, Adventure, Sci-Fi, Fantasy', 'Action, Adventure, Crime, Fantasy, Mystery, Thriller', 'Adventure, Crime, Thriller', 'Comedy, Music, Mystery, Romance', 'Animation, Action, Comedy, Drama, History', 'Action, Comedy, Drama, Music', 'Comedy, Family, Romance, Sci-Fi', 'Comedy, Romance, Fantasy', 'Adventure, Family, Fantasy, Musical, Romance', 'Comedy, Drama, Sport, Thriller', 'Horror, Romance, Drama', 'Animation, Short, Adventure, Comedy, Family, Fantasy', 'Action, Crime, Drama, Fantasy, Horror, Mystery, Thriller', 'Action, Sci-Fi, Thriller, Mystery', 'Comedy, Crime, Music, Romance', 'Animation, Action, Adventure, Comedy, Drama, Family, Sci-Fi', 'Animation, Action, Crime, Mystery, Romance, Sci-Fi, Thriller', 'Comedy, Crime, Family, Sci-Fi', 'Short, Family', 'Adult, Crime, Drama, Romance', 'Sci-Fi, Music', 'Animation, Action, Adventure, Drama, Romance, Sci-Fi', 'Animation, Comedy, Family, Fantasy, Musical, Romance', 'Short, Comedy, Horror', 'Short, Drama, Horror', 'Action, Comedy, Drama, Horror', 'Comedy, Mystery, Sci-Fi', 'Adventure, Comedy, Film-Noir, Romance, Thriller, War', 'Short, Comedy, Drama, Western', 'Comedy, Fantasy, Music, Musical, Romance', 'Action, Adventure, Crime, Drama, Sci-Fi, Thriller', 'Adventure, Comedy, Music', 'Comedy, Horror, Music, Sci-Fi, Thriller', 'Fantasy, Horror, Romance, Thriller', 'Comedy, Crime, Drama, Music, Romance', 'Comedy, Drama, Sci-Fi, Thriller', 'Animation, Short, Fantasy', 'Comedy, Crime, Horror', 'Action, Crime, Drama, Film-Noir', 'Musical, Romance, Western', 'Sci-Fi, Action, Thriller', 'Biography, Drama, History, Music', 'Adventure, Biography, Drama, History, Romance', 'Drama, Romance, Music', 'Comedy, Documentary, Music', 'Action, Thriller, Adventure', 'Action, Sport, Thriller', 'Short, Drama, Music, Romance', 'Adventure, Comedy, Crime, Music', 'Comedy, Game-Show', 'Animation, Action, Drama, Sport, Thriller', 'Action, Adventure, Crime, Thriller, Western', 'Family, Comedy, Drama', 'Mystery, Western', 'Action, Biography, Drama, History, Western', 'Animation, Comedy, Musical', 'Animation, Action, Adventure, Comedy, Family, Mystery, Sci-Fi', 'Short, Fantasy, Horror', 'Action, Thriller, War, Drama', 'Animation, Action, Adventure, Horror, Music, Sci-Fi', 'Action, Comedy, Fantasy, Horror', 'Adventure, Comedy, Music, Sci-Fi', 'Action, Adventure, Drama, War, Western', 'Comedy, Crime, Sci-Fi, Thriller', 'Animation, Adventure, Comedy, Family, Musical, Mystery', 'Action, Comedy, Crime, Horror, Romance', 'Action, Sci-Fi, Animation, Fantasy, Adventure, Drama', 'Comedy, Drama, Fantasy, Musical, Romance', 'Crime, Action, Drama', 'Action, Adventure, Drama, Family, Sci-Fi', 'Crime, Film-Noir, Mystery, Sci-Fi, Thriller', 'Animation, Action, Adventure, Comedy, Drama, Family, Fantasy, Sci-Fi, Thriller', 'Drama, Romance, Family', 'Documentary, Drama, Horror, Mystery', 'Adventure, Western, Romance', 'Romance, Comedy, Action', 'Animation, Comedy, Fantasy, Music, Romance', 'Drama, History, Horror', 'Documentary, Short, History, War', 'Action, Biography, Crime, Drama, Thriller', 'Animation, Drama, Mystery, Romance, Sci-Fi', 'Animation, Family, Short, Comedy', 'Drama, Horror, Musical, Mystery, Romance, Thriller', 'Action, Adventure, Drama, Fantasy, Romance', 'Drama, Action, Horror', 'Animation, Adventure, Family, Romance', 'Adventure, Horror, Mystery', 'Drama, Horror, War, Thriller', 'War, Drama, Action, Romance', 'Crime, Drama, Romance, War', 'Adventure, Comedy, Drama, Western', 'Action, Comedy, Romance, Sport', 'Animation, Adventure, Drama, Family, Western', 'Animation, Comedy, Fantasy, Mystery', 'Family, Mystery, Romance, Thriller', 'Romance, Thriller, War', 'Horror, Western', 'Horror, Thriller, Mystery', 'Crime, Horror, Mystery', 'Action, Adventure, Crime, Fantasy', 'Short, Action, Comedy', 'Action, Adventure, Drama, Sport', 'Biography, Drama, Family, History, War', 'Comedy, Drama, Family, Musical, Western', 'Action, Fantasy, Western', 'Adventure, Drama, Family, History, War', 'Adult, Comedy, Romance', 'Animation, Action, Adventure, Comedy, Drama, Musical, Sci-Fi', 'Drama, Thriller, Romance', 'Action, Musical, Romance, Thriller', 'Animation, Horror, Mystery, Sci-Fi', 'Action, Comedy, Mystery, Romance', 'Documentary, Comedy, Musical', 'Action, Crime, Romance', 'Action, Crime, Horror, Romance', 'Animation, Short, Comedy, Family, Fantasy, Horror', 'Family, Adventure, Drama', 'Family, Animation, Short, Comedy', 'Biography, Comedy, Thriller', 'Animation, Adventure, Drama, Fantasy, Sci-Fi', 'Adventure, Biography, History, Romance, Western', 'Comedy, Drama, Family, Music', 'Action, Adventure, Comedy, Fantasy, Horror, Sci-Fi', 'Animation, Adventure, Drama, Mystery, Romance, Sci-Fi, Thriller', 'Action, Romance, Thriller, War', 'Comedy, Family, Game-Show, Talk-Show', 'Adventure, Comedy, Family, Fantasy, Romance, Sport', 'Animation, Adventure, Family, Fantasy, Thriller', 'Animation, Adventure, Fantasy, Horror, Sci-Fi', 'Animation, Short, Action, Adventure, Fantasy, Horror, Mystery', 'Comedy, Family, Adventure, Fantasy, Sci-Fi', 'Comedy, Action, Drama', 'Drama, Family, Romance, War', 'Adventure, Comedy, Fantasy, Music, Sci-Fi', 'Animation, Adult, Fantasy', 'Family, Fantasy, Musical, Romance', 'Biography, Drama, History, Sport, War', 'Adventure, Mystery, Sci-Fi', 'Animation, Action, Adventure, Family', 'Adventure, War', 'Drama, History, Horror, Thriller', 'Crime, Film-Noir, Sport', 'Action, Fantasy, Horror, Sci-Fi, Thriller', 'Comedy, Reality-TV, Romance', 'Biography, Romance', 'Biography, Crime, Drama, Sport', 'Action, Animation, Adventure, Family, Sci-Fi, Thriller', 'Animation, Sci-Fi, Action, Adventure, Family', 'Biography, Drama, History, Mystery, Thriller', 'Fantasy, Western', 'Drama, Musical, Family', 'Biography, Drama, Romance, War, Western', 'Music, Short', 'Thriller, Crime', 'Mystery, Crime, Drama', 'Biography, Drama, Sport, War', 'Action, Adventure, Comedy, Crime, Family, Sci-Fi', 'Adventure, Drama, Mystery', 'Animation, Short, Comedy, Family, Music', 'Drama, Mystery, Thriller, Sci-Fi', 'Animation, Action, Comedy, Drama, Fantasy, Horror, Mystery, Thriller', 'Animation, Action, Adventure, Drama, Fantasy, Mystery, Sci-Fi, Thriller', 'Adventure, Comedy, Horror, Thriller', 'Fantasy, Horror, Comedy', 'Documentary, Action, Sport', 'Drama, Film-Noir, Sport', 'Action, Adventure, Comedy, Sci-Fi, Thriller', 'Action, Animation, Mystery, Adventure, Drama, Fantasy', 'Action, Adventure, Fantasy, Horror, Sci-Fi', 'Action, Drama, Horror, Sci-Fi, Thriller', 'Animation, Adventure, Comedy, Drama, Family, Romance', 'Action, Drama, Music, Mystery, Thriller', 'Action, Comedy, Family, Sci-Fi', 'Documentary, Biography, Drama, War', 'Animation, Adventure, Drama, Family, Fantasy, Sci-Fi', 'Adventure, Comedy, Action', 'Family, Music, Musical, Romance', 'Adventure, Comedy, Crime, Drama, Family', 'Comedy, Music, Romance, Sport', 'Animation, Action, Adventure, Crime, Drama, Fantasy, Horror, Mystery, Romance, Sci-Fi, Thriller', 'Adventure, Drama, War, Action', 'Action, Adventure, Animation, Comedy', 'Action, Drama, Mystery, Thriller', 'Comedy, Family, Fantasy, Musical, Romance', 'Family, Comedy, Crime', 'Action, Comedy, Sci-Fi, Short', 'Animation, Drama, Thriller', 'Animation, Short, Adventure, Comedy, Family, Mystery', 'Animation, Adventure, Drama, Fantasy, Romance', 'Animation, Comedy, Sci-Fi, Thriller', 'Drama, Comedy, War', 'Action, Biography, Drama, History', 'Documentary, Biography, Comedy, Romance', 'Action, Comedy, Drama, Family, Romance', 'Comedy, Crime, Family, Musical', 'Documentary, Drama, Music', 'Crime, Film-Noir, Mystery, Romance, Thriller', 'Drama, Family, Romance, Western', 'Action, Adventure, Family, Fantasy, Thriller', 'Animation, Action, Horror, Thriller', 'Action, Adventure, Thriller, War', 'Family, Fantasy, Western', 'Biography, Comedy, Drama, Sport', 'Action, Crime, Horror', 'Adventure, Drama, Mystery, Sci-Fi', 'Drama, Fantasy, Sport', 'Adventure, Comedy, Mystery, Romance, Sci-Fi', 'Documentary, Comedy, History, Talk-Show', 'Crime, Drama, Music, Thriller', 'Animation, Adventure, Family, Fantasy, Mystery', 'Action, Drama, Musical, Romance', 'Animation, Adventure, Comedy, Family, Fantasy, Horror', 'Adventure, Comedy, Sci-Fi, Western', 'Horror, Fantasy, Thriller', 'Fantasy, Mystery, Romance, Sci-Fi, Thriller', 'Biography, Drama, Fantasy, Romance', 'Action, Thriller, Sci-Fi', 'Drama, Horror, Mystery, Romance, Sci-Fi, Thriller', 'Action, Adventure, Comedy, Drama, Fantasy, Horror, Romance', 'Documentary, History, Romance, War', 'Adventure, Crime, Action', 'Action, Adventure, Comedy, Romance, Western', 'Drama, Mystery, Western', 'Adventure, Drama, History, War, Western', 'Animation, Short, Family, Fantasy, Music', 'Animation, Action, Adventure, Comedy, Drama, Family, Fantasy, Sci-Fi', 'Animation, Action, Drama, Romance, Sci-Fi', 'Action, Adventure, Sci-Fi, Thriller, Western', 'Animation, Action, Adventure, Fantasy, Sci-Fi, Thriller', 'Adventure, Fantasy, Horror, Mystery, Thriller', 'Action, Comedy, Sci-Fi, Thriller', 'Thriller, Drama, Action', 'Animation, Action, Comedy, Sport', 'Action, Adventure, Comedy, Mystery, Sci-Fi', 'Adventure, Family, History, War', 'Adventure, Fantasy, Horror, Sci-Fi', 'Action, Adventure, Comedy, Crime, Family, Mystery', 'Action, Drama, Music, Thriller', 'Adventure, Comedy, Crime, Drama, Romance', 'Drama, Music, Romance, Western', 'Drama, Mystery, Sci-Fi, Western', 'Documentary, Animation, Drama, Horror', 'Animation, Action, Adventure, Drama, Fantasy, Sci-Fi', 'Animation, Action, Comedy, Fantasy, Romance', 'Action, Crime, Drama, Music, Romance, Thriller', 'Drama, Sci-Fi, Romance', 'Animation, Biography, Comedy, Family', 'Action, Horror, Comedy', 'Adventure, Comedy, Family, Musical, Romance', 'Documentary, Short, History', 'Documentary, Adventure, Drama, Sport', 'Adventure, Comedy, Crime, Mystery, Romance, Thriller', 'Comedy, Drama, Family, Sci-Fi', 'Animation, Adventure, Comedy, Family, Mystery, Sci-Fi', 'Action, Drama, Comedy, Crime, Thriller', 'Action, Comedy, Crime, Drama, Romance', 'Film-Noir, Mystery, Thriller, War', 'Action, Adventure, Comedy, Family, Fantasy, Sci-Fi', 'Biography, Drama, History, War, Western', 'Adult, Comedy', 'Comedy, Family, Adventure', 'Drama, Mystery, Romance, Thriller, War', 'History, Romance', 'Action, Adventure, Mystery, Thriller', 'Adventure, Crime, Drama, Thriller', 'Documentary, Action, Comedy', 'Comedy, Music, Drama', 'Action, Documentary', 'Musical, Drama, Family', 'Animation, Family, Adventure', 'Documentary, Animation, History', 'Animation, Action, Adventure, Comedy, Family', 'Family, Horror, Mystery, Thriller', 'Animation, Action, Adventure, Drama, Family, Fantasy, Sci-Fi', 'Action, Fantasy, Adventure, Sci-Fi', 'Animation, Action, Family, Fantasy, Sci-Fi, Sport, Thriller', 'Adventure, Animation, Comedy', 'Animation, Adventure, Drama, Horror, Romance, Sci-Fi', 'Animation, Drama, Horror, Mystery', 'Animation, Family, Fantasy, Music', 'Comedy, Fantasy, Mystery, Romance', 'Adventure, Crime, Drama', 'Adventure, Family, Fantasy, Horror, Mystery', 'Action, Drama, Musical, Romance, Thriller', 'Animation, Comedy, Drama, Fantasy, Romance, Thriller', 'Adventure, Action, Crime', 'Animation, Horror, Sci-Fi, Thriller', 'Animation, Adventure, Comedy, Drama, Fantasy, Mystery, Romance, Sci-Fi, Thriller', 'Action, Adventure, Crime, Drama, Fantasy, Romance, Sci-Fi', 'Adventure, Crime, Drama, History, Mystery, Thriller', 'Drama, Family, Thriller', 'Adventure, Family, Romance', 'Action, Comedy, Family, Sport', 'Romance, Action, Drama, Musical', 'Drama, Musical, Romance, Western', 'Action, Biography, Game-Show, Reality-TV, Sport', 'Crime, Drama, Mystery, War', 'Action, Adventure, Crime, Drama, Horror, Sci-Fi, Thriller', 'Documentary, Biography, History, War', 'Action, Drama, Sci-Fi, Sport, Thriller', 'Action, Adventure, Comedy, Crime, Drama, Romance, Sci-Fi, Thriller', 'Animation, Comedy, Short, Family', 'Crime, Drama, Horror, Mystery, Romance, Thriller', 'Action, Animation, Sci-Fi', 'Documentary, Action, History', 'Action, Adventure, Crime, Romance, Thriller', 'Action, Comedy, Romance, Sci-Fi, Animation', 'Thriller, Drama, Mystery', 'Drama, Mystery, Romance, Sport', 'Short, Comedy, Musical', 'Animation, Action, Western', 'Animation, Action, Crime, Drama, Mystery, Thriller', '

In [0]:
movie_list['tomato_rating'].value_counts()

6.0     9
7.5     6
4.0     5
5.0     5
6.4     4
2.5     3
6.8     2
8.0     2
6.7     2
5.9     2
5.3     2
5.5     2
7.3     1
7.8     1
7.2     1
3.9     1
9.0     1
10.0    1
3.3     1
2.8     1
Name: tomato_rating, dtype: int64

In [0]:
movie_list_new=pd.read_csv('/content/gdrive/My Drive/award_split.csv')

In [0]:
movie_list_new.shape
movie_list_new.columns
drop_list=['Unnamed: 0','Unnamed: 0.1', 'actors', 'box_office', 'country','metascore',
       'director', 'dvd', 'imdb_id','plot', 'poster', 'language','year', 'released','response',
       'production','ratings','title', 'tomato_consensus', 'tomato_fresh', 'tomato_image',
       'tomato_meter', 'tomato_rating', 'tomato_reviews', 'tomato_rotten',
       'tomato_url', 'tomato_user_meter', 'tomato_user_rating',
       'tomato_user_reviews', 'total_seasons','website', 'writer','type']
movie_list=movie_list_new.drop(drop_list,axis=1)

In [0]:
movie_list.shape
movie_list.columns

Index(['imdb_rating', 'imdb_votes', 'movie_id', 'movie_year_netflix', 'rated',
       'runtime', 'Documentary', 'Crime', 'Musical', 'Sci-Fi', 'Comedy',
       'Talk-Show', 'History', 'Game-Show', 'Music', 'Short', 'Reality-TV',
       'News', 'Adult', 'Family', 'Biography', 'Western', 'War', 'Horror',
       'Sport', 'Adventure', 'Romance', 'Action', 'Thriller', 'Drama',
       'Film-Noir', 'Fantasy', 'Animation', 'Mystery', 'Primetime Emmy Won',
       'Primetime Emmy Nomination', 'Oscar Won', 'Oscar Nomination',
       'Golden Globe Won', 'Golden Globe Nomination', 'BAFTA Film Award Won',
       'BAFTA Film Award Nomination', 'Other wins', 'Other nominations'],
      dtype='object')

In [0]:
df1_mean = df_1.groupby('movie_id').mean()
df2_mean = df_2.groupby('movie_id').mean()
df3_mean = df_3.groupby('movie_id').mean()
df4_mean = df_4.groupby('movie_id').mean()
df_mean_of_movies = df1_mean.append(df2_mean).append(df3_mean).append(df4_mean)
df_mean_of_movies.reset_index(level=0,inplace=True)
df_mean_of_movies

       movie_id    Rating
0             1  3.749543
1             2  3.558621
2             3  3.641153
3             4  2.739437
4             5  3.919298
...         ...       ...
17765     17766  3.193388
17766     17767  3.671569
17767     17768  2.839207
17768     17769  2.498592
17769     17770  2.816504

[17770 rows x 2 columns]

In [0]:
x= movie_list['movie_id'].values
df_list_of_movies=df_mean_of_movies[df_mean_of_movies['movie_id'].isin(x)]
df_list_of_movies

       movie_id    Rating
0             1  3.749543
2             3  3.641153
5             6  3.084396
6             7  2.129032
9            10  3.180723
...         ...       ...
17691     17692  3.043790
17692     17693  3.006107
17693     17694  3.384615
17694     17695  3.368254
17696     17697  3.039944

[12578 rows x 2 columns]

In [0]:
df=pd.DataFrame(data=df_list_of_movies.values,columns=df_list_of_movies.columns)

In [0]:
df.head()

   movie_id    Rating
0       1.0  3.749543
1       3.0  3.641153
2       6.0  3.084396
3       7.0  2.129032
4      10.0  3.180723

In [0]:
movie_list=pd.concat([movie_list,df['Rating']],axis=1)

In [0]:
movie_list.head()

   imdb_rating imdb_votes  movie_id  ...  Other wins Other nominations    Rating
0          7.7        410         1  ...           0                 4  3.749543
1          7.7     10,015         3  ...          16                 6  3.641153
2          6.2         39         6  ...          14                 0  3.084396
3          5.0         62         7  ...           0                 0  2.129032
4          6.5      1,394        10  ...           1                 4  3.180723

[5 rows x 45 columns]

In [0]:
movie_list.shape

NameError: ignored

In [0]:
movie_list.to_csv('/content/gdrive/My Drive/Reccommendation System/feature_selection_df.csv')

In [0]:
movie_list=pd.read_csv('/content/gdrive/My Drive/Reccommendation System/feature_selection_df.csv')
movie_list['rated']=movie_list['rated'].fillna(movie_list['rated'].value_counts().idxmax())

In [0]:
movie_list.head()
movie_list.isnull().any()

Unnamed: 0                     False
imdb_rating                     True
imdb_votes                      True
movie_id                       False
movie_year_netflix              True
rated                          False
runtime                         True
Documentary                    False
Crime                          False
Musical                        False
Sci-Fi                         False
Comedy                         False
Talk-Show                      False
History                        False
Game-Show                      False
Music                          False
Short                          False
Reality-TV                     False
News                           False
Adult                          False
Family                         False
Biography                      False
Western                        False
War                            False
Horror                         False
Sport                          False
Adventure                      False
Romance                        False
Action                         False
Thriller                       False
Drama                          False
Film-Noir                      False
Fantasy                        False
Animation                      False
Mystery                        False
Primetime Emmy Won             False
Primetime Emmy Nomination      False
Oscar Won                      False
Oscar Nomination               False
Golden Globe Won               False
Golden Globe Nomination        False
BAFTA Film Award Won           False
BAFTA Film Award Nomination    False
Other wins                     False
Other nominations              False
Rating                         False
dtype: bool

In [0]:
movie_list.to_csv('/content/gdrive/My Drive/Reccommendation System/feature_selection_df.csv')

In [0]:
movie_list=pd.read_csv('/content/gdrive/My Drive/Reccommendation System/feature_selection_df.csv')

In [0]:
movie_list.head()

   Unnamed: 0  Unnamed: 0.1  ...  Other nominations    Rating
0           0             0  ...                  4  3.749543
1           1             1  ...                  6  3.641153
2           2             2  ...                  0  3.084396
3           3             3  ...                  0  2.129032
4           4             4  ...                  4  3.180723

[5 rows x 47 columns]

In [0]:
flag=0
for i in range(2,12):
  if flag==0:
    arr=movie_list.iloc[:,-i].values
    flag=1
  else:
    arr+=movie_list.iloc[:,-i].values


print(arr)

[ 6 23 14 ... 16  0  6]

In [0]:
movie_list['Other Nominations']=arr

In [0]:
movie_list['Other Nominations']

0         6
1        23
2        14
3         0
4         5
         ..
12573    19
12574     0
12575    16
12576     0
12577     6
Name: Other Nominations, Length: 12578, dtype: int64

In [0]:
movie_list['imdb_rating']=movie_list['imdb_rating'].fillna(movie_list['imdb_rating'].mean())
movie_list['Rating'].corr(movie_list['imdb_rating'])
#movie_list['Rating'].corr(movie_list['imdb_votes'])

0.6519311348045352

In [0]:
import numpy as np
ls=[]
arr=movie_list['imdb_votes'].values
for x in arr:
  if not pd.isnull(x):
    if isinstance(x,str) and ',' in x:
      x=x.replace(',','')
      ls.append(int(x))
    else:
      ls.append((int(x)))
  else:
    ls.append(x)

In [0]:
print(len(ls))

12578

In [0]:
movie_list['imdb_votes']=np.array(ls)

In [0]:
movie_list['imdb_votes']=movie_list['imdb_votes'].fillna(movie_list['imdb_votes'].mean())

In [0]:
movie_list['Rating'].corr(movie_list['imdb_votes'])

0.25091521674289924

In [0]:
movie_list['runtime'].isnull().any()

True

In [0]:
import numpy as np
ls=[]
arr=movie_list['runtime'].values
for x in arr:
  if not pd.isnull(x):
      if 'h' in x:
        temp=x.split()
        if len(temp)>2:
          ls.append(int(temp[0])*60+int(temp[2]))
        else:
          ls.append(int(temp[0])*60)
      else:
        x=x.replace(' min','')
        if ',' in x:
          x=x.replace(',','')
          ls.append(int(x))
        else:
          ls.append(int(x))
  else:
    ls.append(x)

In [0]:
print(ls)
movie_list['runtime']=np.array(ls)
movie_list['runtime']=movie_list['runtime'].fillna(movie_list['runtime'].mean())

[50, 122, 15, 83, 100, 87, 60, 108, 96, 121, 100, 162, 120, 89, 101, 88, 118, 128, 58, 75, 168, 88, 55, 104, 88, nan, 117, 88, 47, 118, 120, 98, 92, 72, 86, 95, 145, 110, 103, 101, 114, 45, 106, 138, 107, 82, 24, 105, 97, 118, 105, 109, 89, 45, 97, 96, 131, 73, 24, 92, 109, 25, 88, 91, 102, 75, 90, nan, 109, 5, 80, 160, 108, 160, 106, 91, 43, 100, 99, 117, 96, 60, 150, 98, 86, 99, 104, 96, 94, 88, 95, 90, 72, 93, 93, 110, 91, 129, 108, 90, 95, 119, 97, 81, 97, 120, 92, 108, 110, 88, 232, 110, 101, 82, 134, 97, 85, 118, 103, 113, 130, 99, 91, 102, 88, 92, 93, 166, 96, 109, 91, 85, 125, 134, nan, 86, 120, 103, 173, 183, 188, 77, 95, 102, 112, 90, 108, 99, 95, 99, 91, 60, 90, 97, 115, 133, 108, 109, 100, 100, 103, 90, 137, 65, 114, 136, 87, 91, nan, 91, 116, 89, 113, 146, 77, 96, 105, 116, 97, 160, 86, 116, 95, 88, 103, 124, 42, 86, 113, 94, 89, 71, 75, 100, 100, 97, 88, 111, 93, 76, 143, 92, 100, 133, 90, 85, 85, 97, nan, 93, 90, 106, 113, 75, 144, 48, 127, 113, 123, 93, 114, 95, 86, 94, 76, 78, 91, 96, 113, 77, 130, 108, 113, 93, 95, 99, 91, 103, 65, 101, 25, nan, 122, 108, 239, 164, 116, 105, 27, 103, 110, 126, 122, 112, 90, 101, 110, 101, 97, 143, 112, 175, 98, 91, 139, 98, 106, 85, 91, 90, 94, 93, 104, 97, 84, 83, 116, 87, 127, 119, 85, 109, 94, 114, 96, 124, 111, 128, 113, 90, 102, 146, 106, 98, 149, 90, 81, 100, 79, 89, 128, 134, 417, 82, 89, 98, 30, 87, 178, 102, 117, 90, 105, 128, 94, 97, 133, 99, 110, 95, 105, 80, 137, 92, 107, 65, 82, 143, 88, 129, 96, 87, 103, 134, 170, 87, 60, 92, 61, 87, 58, 123, 90, 93, 106, 111, 104, 128, 110, 154, 155, 110, 117, nan, 105, 128, 112, 97, 88, 88, 83, 114, 90, 116, 84, 25, 91, 100, 112, 96, 107, 72, 109, 101, 95, 91, 103, 117, 137, 99, 180, nan, 91, 98, 72, 102, 100, 87, 134, 97, 108, 142, 99, 97, 112, 106, 143, 94, 82, 108, nan, 96, 89, 180, 98, 94, 122, 108, 117, 60, 110, 90, 97, 107, 80, 50, 108, 143, 84, nan, 101, 102, 98, 60, 113, 80, 50, 118, 60, 97, 116, 90, nan, 106, 114, 97, 78, 151, 89, 96, 88, 140, 103, nan, 114, 89, 103, 104, 175, 111, 109, 140, 182, 103, 88, 90, 105, 135, 91, 159, 90, 98, 170, 100, 70, 143, 110, 93, 92, 139, 82, 89, 112, 6, nan, nan, 14, 115, 97, 87, 98, 88, 32, 95, 83, 100, 101, 98, 93, 93, 240, 127, 33, 99, 110, 95, 90, 88, 101, 13, 30, 87, 120, nan, 102, 107, 104, 110, 130, 360, 132, 109, 93, 98, 105, 103, 97, 91, 103, 101, 24, 94, 82, 60, 95, 95, 87, 86, 116, 159, 60, 100, 109, 92, 101, 101, 90, 89, 30, 113, 81, 92, 90, 124, 24, 97, 18, 68, 87, 117, 87, 120, 95, 113, 84, 105, 132, 70, 107, 87, 105, 80, 96, 10, 96, 82, 95, 92, 112, 90, 105, 110, 91, 98, 124, 90, 96, 90, 83, 96, 94, 97, 108, 30, 105, 100, 102, 119, 104, 73, 96, 80, 135, 105, 105, 45, 95, 103, 90, 112, 129, 94, 100, 94, 99, 123, 112, 103, 60, 100, 81, 88, 126, 82, 118, 98, 99, 92, 94, 120, 102, 90, 90, 7, nan, 778, 207, 83, 125, 25, 98, 119, 88, 107, nan, 99, 152, 60, 102, 97, 142, 99, nan, 108, 124, 95, 80, 242, 30, 42, 97, 136, 125, 110, 237, 60, nan, 82, 76, 45, 98, 101, 22, 95, 79, 92, 101, nan, 91, 33, 107, 124, 112, 93, 85, 80, 60, 103, 77, 91, 102, 180, 137, 90, 88, 112, 113, 90, 92, 125, 130, 97, 122, 101, 30, 74, 99, 50, 52, 107, 97, 46, 101, 173, 87, 90, 86, 183, 93, 167, 124, 112, 95, 111, 111, 122, 134, 108, 92, 88, 110, 93, 97, 60, 94, nan, 54, 88, 95, 87, 167, 27, 91, 85, 77, 31, 109, 88, 170, 44, 91, 129, 95, 95, 129, 107, 50, 128, 94, 128, 82, 23, 24, 101, 170, 53, 99, 99, 105, 92, 103, 108, 100, 105, 85, 95, 108, 73, 86, 52, 83, 96, 99, 120, 136, 122, 86, 110, 118, 240, 99, 89, 96, 89, 30, 107, 96, 54, 80, 145, 132, 112, 116, 121, 110, 122, 127, 122, 120, 121, 104, 84, 109, 101, 23, 127, 97, 99, 85, 150, 100, 86, 120, 94, 56, 78, 97, 132, 107, 110, 77, 197, 150, 132, 97, 701, 93, 165, 86, 92, 130, 103, 115, 127, nan, 96, 104, 80, 12, 40, 99, 97, 95, 90, 112, 116, 105, 87, 106, 106, 94, 30, 101, 92, 106, 85, 112, 135, 111, 87, 102, 97, 98, 94, 95, 95, 99, 172, 93, 120, 98, 96, 111, 98, 92, 82, 123, 101, 93, 128, 37, 130, 86, 109, 116, 92, 146, 102, 132, 104, 104, 82, nan, 30, 135, 96, 115, 85, 93, 121, 83, 92, 105, 89, 94, 103, 103, 32, 97, 109, 118, 120, 88, 97, 93, 65, 88, 84, 81, 61, 87, 101, 143, 104, 109, nan, 111, 107, 50, nan, 97, 84, 103, 10, 81, 115, 115, 90, 104, 92, 110, 104, 93, 84, 120, 100, 117, 77, 70, 111, 50, 40, 127, 25, 168, 95, 91, 100, nan, 110, 119, 108, 5, 86, 41, 136, 75, 128, 118, 125, 90, 78, 95, 85, 96, 75, 84, 30, 94, nan, 194, 104, 116, 90, 136, 85, 87, 92, 110, 95, 95, 121, 77, 125, 120, 96, 99, 112, 55, 101, 87, 86, 91, 109, 103, nan, nan, 95, 108, 132, 121, 113, 23, nan, 113, 135, 90, 90, 142, 150, 89, 111, 90, 82, 52, 97, 118, 63, 110, 98, 114, 83, 96, 115, 137, 92, 138, 94, 82, 55, 45, 165, 103, 88, 115, 88, 45, 65, 119, 91, 100, 114, 83, 94, 23, nan, 111, 112, 90, 113, 145, 100, 102, 112, 80, 85, 85, 169, 90, 90, 101, 77, 127, 74, 89, 118, 104, 180, 111, 92, 151, 74, 81, 113, 113, 242, 30, 91, nan, 134, 85, 91, 101, 53, 100, 12, 99, 98, 95, 93, 98, 151, 114, 254, 124, 89, 178, 67, 105, 100, 90, 86, 95, 105, 90, 95, 90, 114, 126, 84, 93, 30, 80, 114, 104, 138, 96, 89, 96, 97, 108, 78, 110, 85, 82, 114, 100, 88, 142, 103, 101, 92, 72, 97, 133, 24, 110, 125, 87, 101, 93, 147, 78, 75, 107, 91, 140, 44, 113, 88, 108, 58, 110, 80, 98, 114, 124, nan, 101, 95, 99, 385, 129, 90, 98, 93, 103, 90, 106, 125, 83, 44, nan, 98, 103, 128, 95, 137, 30, 91, 88, 110, 84, 86, 103, 102, 89, 40, 94, 90, 40, nan, 120, nan, 112, 109, 85, 92, 90, 60, 96, 121, 96, 89, 81, 146, 118, 23, 384, 134, 105, 117, 50, 96, 91, 105, 87, 121, 110, 91, 78, 87, 106, 93, 140, 90, 80, 90, 119, 91, 137, 94, 30, 85, 94, 62, 50, 123, 91, 83, 97, 94, 113, 92, 105, 102, 88, 30, 100, 122, 180, 93, 114, 132, 125, 103, 187, 84, 220, 101, 91, 100, 93, 89, 94, 60, 115, 82, 104, 85, 127, 93, 84, 114, 109, 100, 90, 95, 109, 104, 97, 109, 224, 89, 91, 129, 110, 119, 131, 77, 126, 112, 103, nan, 93, 55, 140, 90, 60, 63, 95, 100, 88, 91, 77, 137, 111, 80, 112, 122, 105, 112, 104, 113, 90, 106, 120, 18, 107, 99, 6, 139, 136, 101, 98, 93, 108, 98, 127, 94, 77, 90, 60, 100, 117, 85, 131, 93, 95, 80, 112, 108, 180, 110, 90, 21, 156, 87, 105, 87, 117, 76, 132, 104, 143, 19, 390, 134, 90, 185, 107, 105, 114, 96, 136, 137, 83, 94, 87, 75, 132, 43, 89, 16, 114, 51, 112, 100, 85, 129, 103, 77, 113, 90, 110, 489, 96, 55, 92, 78, 90, 106, nan, 85, 95, 89, 90, 124, 91, 99, 124, 100, 97, 124, 92, 100, 91, nan, 112, 96, 63, 88, 101, 120, 106, 160, 158, 118, 97, 87, 106, 90, 93, 96, 91, 113, 117, 103, 129, 91, 91, 84, 106, 107, 93, 139, 118, 99, 97, 97, 90, 112, 114, 102, 24, 883, 140, 100, 118, 120, 109, 56, 105, 85, 85, 132, 10, 83, 106, 90, 118, 105, 110, 114, 93, 92, 160, 93, 92, 312, 100, 60, 92, 101, 94, 85, 119, 98, 86, 87, 105, 110, 107, 70, 104, 93, 90, 115, nan, 86, 95, 108, 103, 94, 105, 107, 97, 90, 60, 115, 90, 44, 98, 85, 98, 122, 113, 101, nan, 77, 25, 98, 114, 105, 92, 96, 130, 98, 89, 101, 119, 138, 84, 89, 27, 60, 90, 111, 110, 98, 127, 112, 108, 83, 92, 660, 90, 112, 121, 104, 220, 107, 71, 103, 110, 113, 30, 118, 107, 157, 101, 105, 116, 85, 97, 119, 95, 109, 126, 85, 146, 89, nan, 127, 102, 108, 15, nan, 28, 60, 109, 22, 101, 105, 60, nan, 98, 106, 92, 102, 106, 32, 110, 90, 107, nan, 108, 106, 89, nan, 109, 85, 193, 89, 71, 100, 127, 128, 101, 141, 82, 85, 89, 84, 87, 99, 82, 100, 151, 94, 100, 150, 80, 5, 93, 104, 100, 79, 100, 97, 60, 102, 93, 101, 132, 97, 105, 107, 97, 81, 128, 105, 108, 124, 79, 87, 104, 156, 111, 25, 80, 115, 90, 106, 100, 4, 24, 85, 30, 104, 89, 97, 87, 84, 150, 105, 102, 93, 106, 82, 93, 102, 106, 102, 86, 100, 91, 98, 8, 111, 104, 110, 81, 111, 30, 93, 91, 103, 127, 104, 158, 94, 88, 87, 113, 106, 108, 167, 110, 95, 116, 190, 110, 201, 116, 100, 89, 79, 115, 113, 100, 101, 82, 90, 111, 120, 108, 90, 52, 92, 93, 94, 106, 97, 300, 80, 95, 287, 175, 100, 60, 112, 110, 77, 94, 80, 60, nan, 90, 180, 93, 127, 86, 112, 89, 105, 128, 86, 120, 106, 117, 83, 178, 107, 85, 99, 95, 121, 84, 93, 90, 86, 82, nan, 104, 98, 94, 114, 103, 42, 87, 92, 113, 99, 80, 89, 104, 43, 65, 181, 102, 46, 98, 10, 101, 101, 69, 134, 102, 95, 103, 147, 5, 110, 93, 69, 95, 60, 95, 206, 82, 115, 119, 100, 128, 99, 90, 177, 45, 109, 138, 153, 45, 98, 97, 140, 3, 92, 93, nan, 91, 144, 134, 24, 104, 30, 100, 150, 85, 17, 101, 72, 89, 93, 97, 7, 99, 47, 102, nan, 125, 97, 72, 93, 63, 95, 168, 90, 95, 121, 25, 106, 93, 107, nan, 186, 100, 108, 118, 124, 90, 178, 186, 113, nan, 60, 98, 100, 91, 30, 111, 126, 99, 87, 99, 45, 103, 95, 89, 30, 89, 110, 108, 104, 96, 106, 92, 120, 118, 23, 83, 46, 108, 100, 89, 105, 93, 81, 95, 97, 140, 98, 80, 95, 93, 90, 95, 96, 219, 100, 99, 84, 102, 92, 104, 780, 94, 50, 96, 206, 60, 78, 544, 93, 120, 102, 90, 97, 137, 180, 90, 152, 93, 160, 91, 94, 82, 97, 65, 64, 92, 60, 85, 185, 94, 101, nan, 71, 240, 87, 128, 104, 177, 122, 75, 103, 98, 207, 150, 89, 44, 91, 86, 94, 93, 50, 113, 95, 96, 95, 62, 100, 112, 135, 177, 111, 110, 90, 93, 89, 51, 85, 91, 30, 100, nan, 178, 96, 132, 95, 118, 629, nan, 96, 90, 73, 133, 44, 82, 90, 91, 90, 108, 113, 327, 87, 90, 95, 105, 90, 91, 106, 88, nan, 157, 120, 4, 100, 83, 111, 99, 100, 117, 95, 100, 93, 102, 127, 108, 99, 116, 105, 97, 97, 91, 94, 134, nan, 113, 103, 89, 102, 106, 112, 60, 93, 118, 228, 126, 94, 93, 85, 137, 71, 56, 88, 97, 116, 100, 103, 115, 119, 121, 98, 106, 91, 125, 100, 80, 101, 30, 82, 175, 47, 131, 106, 128, 105, 116, 65, 115, 94, 30, 111, 102, 92, 106, 151, 105, 110, 96, 98, 110, 103, 88, 100, 103, 100, 72, 104, 157, 84, 85, 125, 97, 104, 170, 122, 101, 105, 30, 101, 127, 102, 92, 118, 84, 119, 104, 121, 90, 85, 107, 96, 158, 94, 98, 137, 86, 120, 60, 90, 85, nan, 88, 77, 111, 166, 95, 85, 97, 87, 100, 104, 30, 90, 110, 25, 100, 91, 97, 86, 146, 91, 53, 50, 121, 88, 62, 91, 95, 168, 117, 90, 97, 106, 107, 60, 183, 99, 109, 106, 30, 83, 97, 109, 115, 104, 114, 120, 89, 108, 80, 112, 103, 90, nan, 96, 97, 95, 85, 99, 30, 64, 108, 118, 87, nan, 103, 100, 103, 107, 97, 98, 90, 118, 180, 89, 75, 24, 98, 94, 120, 95, 24, 50, 95, 107, 80, 89, 90, 127, 88, 105, 71, 15, 106, 360, 108, 90, 210, 105, 135, 118, 140, 98, 194, 86, 106, 115, 90, 30, 157, 97, 92, 118, 89, 421, 113, 116, 82, 63, nan, 92, 112, 114, 100, 162, 120, 96, 102, 197, 95, 120, 108, 97, 100, 83, 108, 106, 110, 106, 108, 85, 101, 76, 109, 91, 86, 105, 101, 94, 140, 81, 110, nan, 30, 120, 99, 89, 111, 80, 89, 106, 90, 97, 98, 101, 87, 85, 93, 119, 140, 242, 95, 130, 96, 136, 96, 102, 119, 100, 250, 94, 96, 113, 92, 82, 67, 91, 97, 115, 144, 88, 75, 90, 21, 117, 105, 54, 100, 102, 88, 110, 91, 80, 111, 113, 110, 106, 95, 178, 106, 86, 127, 82, 72, 157, 60, 75, 127, 90, 90, 98, 202, 78, 85, 87, 96, 60, 54, 135, 93, 91, 100, 99, 96, 124, 93, 87, 116, 98, 100, 83, 110, 96, 77, 101, 100, 85, 99, 107, 94, 300, 82, 108, 87, 92, 95, 120, 60, 85, 97, 85, 143, 90, 112, 14, 94, 104, 94, 60, 112, 116, 86, 60, nan, 86, 128, 104, 125, 93, 100, 101, 118, 160, 104, 116, 124, 145, 98, 125, 300, 113, 100, 11, 86, 84, 97, 74, 90, 70, 94, 88, 90, 208, 106, 95, 101, 116, 90, 90, 81, 135, 106, 92, 107, 119, 122, 158, 92, 299, 88, 116, 23, 60, 118, 102, 119, 88, 104, 361, 114, 87, 95, 102, 125, 95, 88, 134, 120, 95, 95, 82, 104, 97, 97, 88, 90, nan, 92, 120, nan, 120, 108, 132, 46, 115, 104, 97, 101, 120, 98, 135, 87, 110, 91, 52, 109, 102, 76, 108, 135, 111, 88, 87, 117, 96, 101, 94, 91, 132, 110, 374, 91, 102, 108, 100, 92, 123, 198, 30, 90, 88, 130, 100, 60, 123, 112, 90, 178, 105, 135, 85, 50, 86, 60, 102, 85, 90, 96, 92, 101, 89, 104, 114, 100, 9, 100, 90, 88, 142, 133, 75, 101, 74, 97, 85, 95, 210, 107, 132, 118, 113, 92, 89, 96, 104, 86, 86, 96, 151, 108, 100, 92, 109, 237, 102, 96, 88, 118, 118, 121, 93, 84, 104, 81, 95, nan, 107, 154, 121, 135, 90, 90, 116, 95, 88, 68, 107, 91, 155, 94, 147, 89, nan, 133, 98, 80, 91, 117, 93, 116, 21, 91, 59, 116, 97, 84, 113, 85, 74, 96, 100, 113, 97, 185, 88, 60, 94, 127, 84, 112, 96, 360, 107, 92, 75, 96, 110, 93, 118, 40, 90, 77, 85, 95, 101, 22, 110, 60, 100, 82, 110, 110, 85, 98, 93, 108, 105, 103, 112, 90, 168, 98, 96, nan, 100, 101, 97, 117, 93, 57, 124, 168, nan, 118, 121, 142, 88, 100, 94, 75, 102, 94, 134, 112, nan, 101, 100, 96, 60, 125, 91, 87, 98, 129, 87, 91, 113, 93, 6, 94, 60, 81, 109, 98, 95, 103, 105, 100, 130, 115, 103, 104, 180, 114, 86, 48, 123, 95, 126, 129, nan, 108, 109, 87, 86, 106, 90, 98, 30, 86, 104, 89, 88, 116, 102, 95, 105, 118, 124, 124, 89, 94, 99, 89, 90, 104, 102, 101, 24, 102, 119, 98, 84, 77, 85, 90, 110, 32, 145, 81, 115, 101, 135, 90, 87, 140, 90, 131, 68, 59, 114, 83, 77, 126, 55, 40, 107, nan, 90, 102, 78, 69, 103, 95, 78, 89, 50, 129, 91, 103, 100, 101, 118, 154, 83, 91, 79, 104, 80, 88, 74, 44, 98, 88, 95, 102, nan, 97, 100, 88, 84, 138, 40, 89, 82, 86, 85, 122, 129, 93, 100, 104, 89, 88, 112, 115, 105, 84, 102, 129, 120, 98, 85, 75, 134, 93, 26, 118, 102, 73, 123, 171, nan, 83, 105, 60, 106, 78, 134, 115, 80, 106, 87, 114, 141, 55, 104, 99, 60, 88, 360, 115, 132, nan, 94, 104, 60, 86, nan, 133, 70, 87, 90, 97, 119, nan, 90, 40, 119, 100, 90, 99, 114, 25, 86, 105, 60, 50, 110, 106, 91, 120, 92, 103, 99, 57, 87, 119, 85, 97, 113, 181, 91, 9, 104, 114, 97, 111, 94, 145, 121, 90, 106, 100, 66, 151, 91, 97, 122, nan, 82, 52, 120, 97, 82, 93, 87, 80, 92, 84, nan, 120, 82, 87, 90, 97, 93, 98, 46, 101, 82, 13, 75, 94, 113, 103, 90, 115, 90, 115, 93, 88, 83, 91, 96, 48, 75, 108, 153, 104, 60, 133, 96, 121, 70, 94, 110, 168, 106, 69, 106, 130, 93, 60, 130, 100, 100, 121, 103, 132, 85, 102, 272, 90, nan, 90, 78, 70, 121, 96, 106, 107, 100, 106, 113, 96, 100, 94, 87, 96, 93, 22, 104, 96, 101, 116, 96, 96, 86, 86, 64, 120, 180, 105, 106, 168, 126, 92, 80, 106, 94, 90, 104, 91, 188, nan, 103, 106, 102, 94, 97, 102, 1, 125, 72, 93, 119, 139, 104, 118, 129, 66, 56, 270, 250, 106, 103, 112, 60, 105, 87, 44, 127, 109, 96, 85, 103, 109, 92, nan, 103, 91, 95, 108, 113, 89, 85, 112, 105, 95, 138, 87, 87, 91, 88, 106, 83, 98, 98, 101, 6, 82, 124, 90, 80, 107, 84, 100, 89, 237, 93, 92, 109, 101, 106, 102, 105, 111, 128, 97, 154, 88, 103, 104, nan, 92, 100, 90, 120, 92, 200, 92, 120, 92, 94, nan, 111, 92, 104, 95, 117, 30, 93, 121, 87, nan, 88, 94, 60, 102, 117, 25, 84, 78, 168, 94, 140, 95, 103, 140, 182, 101, 91, 141, 109, 93, 65, 81, 70, 325, 133, 104, 116, 91, 186, 130, 124, nan, 90, 100, 89, 30, 87, 94, 94, 111, nan, 120, 120, 68, 94, 96, 111, 86, 110, 88, 85, 137, 100, 92, 115, 87, 98, 46, 106, 157, nan, 98, 100, 75, 115, 104, 88, 93, 98, 91, 85, 85, 135, 82, 99, 86, 96, 124, nan, 82, 99, 91, 107, 101, 110, 99, 104, 92, 171, 123, 108, 93, 86, 113, 90, 116, 104, 115, 110, 148, 106, 109, 104, 89, 65, 105, 90, 101, nan, 99, 105, 45, 91, 82, 88, 61, 97, 93, 100, 94, 92, 152, 98, 129, 97, 3, 111, 175, 78, 71, 90, 18, 131, 106, 112, 108, 90, 120, 99, 113, 31, 88, 124, 84, 155, 153, nan, 87, 94, 70, 117, 114, 96, 112, 122, 86, 108, 85, 97, 100, 91, 101, 104, 24, 83, 90, 97, 101, 107, 105, 23, 75, 99, 145, 88, 94, 100, 90, 105, 76, 90, 88, 90, 115, 105, 108, 191, 91, 108, 104, 88, 98, 133, 95, 105, 112, 91, 95, 96, 88, nan, 114, 91, 95, 94, 111, 131, 106, 111, 88, 78, 106, 82, 79, 121, 106, 140, 93, 74, 82, 121, 97, 89, 167, 82, 101, 135, 85, 82, 96, 94, 102, 128, 117, 85, 111, 129, 71, 88, 104, 106, 22, 99, 91, 108, 50, 118, 104, 96, nan, 83, 113, 79, 192, 90, 92, 94, 109, 117, 84, 98, 66, 60, 125, 104, 94, 95, 72, 105, 104, 96, 86, 140, 93, 113, 126, 110, 97, 92, 95, 175, 99, 88, 87, 97, 119, 83, 87, 81, 115, 120, 87, 99, 105, 87, 100, 104, 88, 102, 88, 91, 106, 93, 180, 106, 109, 86, 94, 118, 176, 119, 120, 92, 90, 167, 150, 95, 102, 93, 90, 112, 75, 103, 106, 122, 99, 96, 93, 116, 120, 91, 97, 43, 85, 96, 128, 122, 126, 125, 105, 60, 99, 92, 148, 126, 103, 113, 95, 104, 81, 84, 133, 100, 93, 90, 7, 119, 129, 96, 107, 93, 86, 104, 94, 90, 111, 178, 74, 136, 177, 109, 178, 104, 87, 84, 80, 130, 90, 80, 123, 107, 101, 30, 123, 94, 90, 126, 115, 94, 120, 92, 104, 116, 115, 73, 103, 240, 192, 152, 110, 128, nan, 86, 93, 127, 115, 112, 108, nan, 86, 25, 34, 90, 110, 130, 153, 53, 50, 111, 238, 119, 96, 98, 91, 97, 75, 137, 90, 95, 92, 78, 245, 83, 95, 93, 118, 129, 108, 109, 103, nan, 141, 100, 104, 101, 103, 110, 155, 123, 110, 24, 94, 87, 112, nan, 86, 123, 105, 135, 95, 93, 85, 141, 97, 93, 104, 105, 144, 97, 154, 86, 96, 118, 170, 190, 132, 114, 102, 189, 109, 92, 104, 95, 99, 104, 84, 101, 123, 105, 70, 97, 23, 107, nan, 106, 70, 99, 140, 91, 119, nan, 103, 79, 51, 93, 86, 112, nan, 185, 139, 90, 132, 100, 100, 111, 95, 108, 130, 104, 95, 115, 102, 130, 95, 88, 81, 83, 74, 62, 113, 109, 91, 77, 89, 99, 125, 106, 89, 161, 106, 104, 102, 87, 60, 124, 117, 112, 74, 117, 90, 121, 102, 106, 95, 87, 96, 97, 91, 91, 112, 120, 98, 80, 82, nan, 76, 76, 93, 88, 94, 63, 113, nan, 120, 88, 99, 151, nan, 129, 124, 88, 100, 82, 99, nan, 123, 106, 30, 70, 92, 71, 90, 89, 96, 116, 98, 89, 96, 114, 127, 122, 292, 93, 102, 88, 79, 77, 101, 106, 50, 113, 90, 95, 115, 131, 108, 88, 82, 120, 151, 91, 95, 84, 116, 105, 104, 92, 99, nan, 111, 91, 124, 87, 99, 100, 90, 99, 90, 105, 115, 127, 103, 101, 23, 82, 88, 111, 25, 83, 117, 101, 114, 257, 72, 107, 97, 141, 110, 103, 50, 100, 62, 108, 109, 109, 97, 118, 86, 110, 6, 95, 105, 91, 96, 23, 81, 88, 53, 110, 95, 112, 91, 158, 107, 114, 104, 90, 90, 90, 100, 105, 130, 101, 79, 102, 136, 102, 193, 131, 104, 60, 108, 92, 91, 135, 91, 95, 108, 60, 80, 78, nan, 120, 94, 111, 65, 92, 107, 91, 97, 148, 167, nan, 126, 92, 94, 99, 103, 109, nan, 160, 108, 98, 102, 95, 98, 108, 92, 105, 161, 92, 100, 80, 91, 147, 130, 102, 114, 106, 93, 94, nan, 91, 102, 125, 82, 108, 88, 96, 87, 129, 25, 113, 96, 84, 118, 240, 80, 148, 86, 102, 60, 104, 115, 121, 117, 96, 119, 110, 90, 107, 98, 142, 95, 90, 145, 91, 83, 103, 90, 92, 114, nan, 95, 115, 107, 99, 104, 141, 200, 116, 118, 60, 100, 90, 96, 129, 95, 107, 80, 103, 85, 98, 101, 90, 93, 180, 78, 90, 115, 94, 60, 85, 107, 94, 98, 82, 103, 116, 90, 81, 87, 91, 104, 135, 132, 93, 127, 121, 125, 93, 99, 81, 60, 60, 120, 117, nan, 95, 110, 73, 102, 84, 124, 95, 91, 88, 90, 96, 45, 102, 95, nan, 76, 170, 129, 103, 96, 189, 91, 30, 99, 89, 98, 90, 156, 94, 99, 110, 83, 79, 109, 128, 89, 95, 109, 89, 103, 99, 94, 170, 108, 83, 83, 95, 99, 80, 129, 99, 95, 105, 117, 132, 97, 115, 119, 88, 120, 104, 85, 57, 112, 114, 81, 111, 55, 94, 112, 89, 136, 89, 88, 102, 91, 15, 130, 124, 94, 96, 90, 83, 93, 91, 92, 106, 106, 98, 95, 136, 102, 112, 117, 92, 124, 98, 91, 84, 92, 149, 161, 98, 97, 30, 491, 82, 169, 101, 97, 101, 126, 102, 78, 88, 70, 114, 88, 85, 46, 57, nan, 98, 91, 76, 175, 119, 87, 98, 143, 106, 122, 25, 93, 93, 93, 47, 74, 104, nan, 100, 74, 156, 108, 106, 162, 95, 189, 101, 89, 173, 93, 112, 116, 135, 96, 89, 93, 89, 121, 75, nan, 86, 97, 105, 90, 98, 119, 119, 109, 112, 113, 96, 89, nan, 190, 183, 74, 131, 87, 94, 150, 94, 106, 95, 93, 82, 120, 93, 100, 121, 84, 164, 84, 81, 110, 87, 135, 111, 85, 86, 134, 101, 113, 172, 103, 132, 107, 91, 100, 129, 101, 89, 95, 102, 224, 106, 246, 84, 99, 93, 118, 96, 97, 152, 93, 104, 123, 192, nan, 100, 111, 140, 96, 132, 93, 52, 105, 95, 85, 122, 136, 272, 42, 120, 103, 75, 102, 88, 139, 105, 116, 84, 106, 106, 111, 92, 107, 116, 130, 76, 300, 120, 118, 123, 174, 88, 137, 116, 78, 120, 105, 101, 174, 24, 72, 95, 163, 99, 94, 94, 107, 96, 103, 30, 57, 116, 94, 16, nan, 44, 117, 87, 117, 85, nan, 92, 124, 93, 37, 112, 84, 107, 75, 86, 84, 139, 125, 89, 130, 115, 108, 85, 94, 105, 108, 105, 120, 84, 115, 98, 92, 105, 210, 360, 85, 207, nan, 132, nan, 113, 93, 79, 80, nan, 119, 105, 101, 101, 101, 150, 94, 115, 58, 24, 110, 100, 138, 25, 81, 88, 88, 160, 135, 118, 30, 94, 92, 93, 94, 3, 93, 109, 84, 91, 100, 89, 169, 113, 110, 60, 119, 60, 156, 99, 77, 182, 92, 118, 94, 102, 90, 91, 129, 147, 45, 91, 104, 97, 45, 102, 112, 205, 99, 72, 100, 105, 172, 160, 118, 123, 103, 99, 92, 96, 103, 52, 90, 80, 103, 93, 120, 1, 109, 100, 80, 41, 78, 91, 104, 108, 85, 90, 540, 115, 130, 103, 80, 30, 113, 109, 94, 134, 138, 78, 124, 90, 86, 112, 114, 96, 103, 92, 70, 100, nan, 89, 67, 95, 115, 100, 110, 60, 87, 107, 121, 131, 92, 95, 70, 88, 83, 95, 86, 97, 30, 90, 82, 102, 90, 127, 122, 135, 137, 135, 178, 100, 97,

In [0]:
movie_list['Rating'].corr(movie_list['runtime'])

0.16147599245289287

In [0]:
movie_list.isnull().any()
movie_list=movie_list.iloc[:,2:]

In [0]:
movie_list['movie_year_netflix']=movie_list['movie_year_netflix'].fillna('ffill')

In [0]:
movie_list.isnull().any()

imdb_rating                    False
imdb_votes                     False
movie_id                       False
movie_year_netflix             False
rated                          False
runtime                        False
Documentary                    False
Crime                          False
Musical                        False
Sci-Fi                         False
Comedy                         False
Talk-Show                      False
History                        False
Game-Show                      False
Music                          False
Short                          False
Reality-TV                     False
News                           False
Adult                          False
Family                         False
Biography                      False
Western                        False
War                            False
Horror                         False
Sport                          False
Adventure                      False
Romance                        False
Action                         False
Thriller                       False
Drama                          False
Film-Noir                      False
Fantasy                        False
Animation                      False
Mystery                        False
Primetime Emmy Won             False
Primetime Emmy Nomination      False
Oscar Won                      False
Oscar Nomination               False
Golden Globe Won               False
Golden Globe Nomination        False
BAFTA Film Award Won           False
BAFTA Film Award Nomination    False
Other wins                     False
Other nominations              False
Rating                         False
dtype: bool

In [0]:
movie_list.to_csv('/content/gdrive/My Drive/Reccommendation System/classifier_final_df.csv')

In [0]:
movie_list.columns

Index(['imdb_rating', 'imdb_votes', 'movie_id', 'movie_year_netflix', 'rated',
       'runtime', 'Documentary', 'Crime', 'Musical', 'Sci-Fi', 'Comedy',
       'Talk-Show', 'History', 'Game-Show', 'Music', 'Short', 'Reality-TV',
       'News', 'Adult', 'Family', 'Biography', 'Western', 'War', 'Horror',
       'Sport', 'Adventure', 'Romance', 'Action', 'Thriller', 'Drama',
       'Film-Noir', 'Fantasy', 'Animation', 'Mystery', 'Primetime Emmy Won',
       'Primetime Emmy Nomination', 'Oscar Won', 'Oscar Nomination',
       'Golden Globe Won', 'Golden Globe Nomination', 'BAFTA Film Award Won',
       'BAFTA Film Award Nomination', 'Other wins', 'Other nominations',
       'Rating'],
      dtype='object')

In [0]:
drop=['Primetime Emmy Won',
       'Primetime Emmy Nomination', 'Oscar Won', 'Oscar Nomination',
       'Golden Globe Won', 'Golden Globe Nomination', 'BAFTA Film Award Won',
       'BAFTA Film Award Nomination', 'Other wins', 'Other nominations']

In [0]:
movie_list=movie_list.drop(drop,axis=1)

In [0]:
#movie_list.head()
ls=['Documentary', 'Crime', 'Musical', 'Sci-Fi', 'Comedy',
       'Talk-Show', 'History', 'Game-Show', 'Music', 'Short', 'Reality-TV',
       'News', 'Adult', 'Family', 'Biography', 'Western', 'War', 'Horror',
       'Sport', 'Adventure', 'Romance', 'Action', 'Thriller', 'Drama',
       'Film-Noir', 'Fantasy', 'Animation', 'Mystery']
movie_list[ls]=movie_list.iloc[:,6:-1].replace({True:1,False:0})

In [0]:
movie_list.head()

   imdb_rating  imdb_votes  movie_id  ... Animation Mystery    Rating
0          7.7       410.0         1  ...         1       0  3.749543
1          7.7     10015.0         3  ...         0       1  3.641153
2          6.2        39.0         6  ...         0       0  3.084396
3          5.0        62.0         7  ...         0       0  2.129032
4          6.5      1394.0        10  ...         0       0  3.180723

[5 rows x 35 columns]

In [0]:
movie_list.to_csv('/content/gdrive/My Drive/Reccommendation System/classifier_final_df.csv')

In [0]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split

In [0]:
movie_list=pd.read_csv('/content/gdrive/My Drive/Reccommendation System/final_dataset.csv')
xtrain, xtest, ytrain, ytest = train_test_split(movie_list.iloc[:,:-1].values,movie_list.iloc[:,-1].values, test_size=0.3)
xtrain, xval, ytrain, yval=train_test_split(xtrain,ytrain,test_size=0.2)
print(type(xtrain))
print(xtrain.shape)
print(xval.shape)
print(ytrain.shape)
print(yval.shape)
model=Sequential() #sequential type model is used here for the feedforward network
model.add(Dense(30,input_shape=xtrain[0].shape,activation='sigmoid')) #This is the first hidden layer, here the input shape is mentioned
model.add(Dense(30,activation='sigmoid')) #In each dense layer, the seed is kept at 30,for reproducability
model.add(Dense(1,activation='linear')) #For the output layer , the activation function is sigmoid and the output neuron is 1 for binary classification
model.summary()   #This gives the summary of the model
model.compile(loss='mse',optimizer='adam',metrics=['mse']) #here  metrics and the optimizer are defined
model.fit(xtrain,ytrain,batch_size=4,epochs=10,verbose=2,validation_data=(xval,yval))

<class 'numpy.ndarray'>
(7043, 54)
(1761, 54)
(7043,)
(1761,)
Model: "sequential_16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_43 (Dense)             (None, 30)                1650
_________________________________________________________________
dense_44 (Dense)             (None, 30)                930
_________________________________________________________________
dense_45 (Dense)             (None, 1)                 31
=================================================================
Total params: 2,611
Trainable params: 2,611
Non-trainable params: 0
_________________________________________________________________
Train on 7043 samples, validate on 1761 samples
Epoch 1/10
7043/7043 - 4s - loss: 0.6223 - mean_squared_error: 0.6223 - val_loss: 0.2135 - val_mean_squared_error: 0.2135
Epoch 2/10
7043/7043 - 4s - loss: 0.2187 - mean_squared_error: 0.2187 - val_loss: 0.2070 - val_mean_squared_error: 0.2070
Epoch 3/10
7043/7043 - 4s - loss: 0.2156 - mean_squared_error: 0.2156 - val_loss: 0.2105 - val_mean_squared_error: 0.2105
Epoch 4/10
7043/7043 - 4s - loss: 0.2138 - mean_squared_error: 0.2138 - val_loss: 0.2060 - val_mean_squared_error: 0.2060
Epoch 5/10
7043/7043 - 4s - loss: 0.2129 - mean_squared_error: 0.2129 - val_loss: 0.2017 - val_mean_squared_error: 0.2017
Epoch 6/10
7043/7043 - 4s - loss: 0.2129 - mean_squared_error: 0.2129 - val_loss: 0.2064 - val_mean_squared_error: 0.2064
Epoch 7/10
7043/7043 - 4s - loss: 0.2108 - mean_squared_error: 0.2108 - val_loss: 0.2005 - val_mean_squared_error: 0.2005
Epoch 8/10
7043/7043 - 4s - loss: 0.2106 - mean_squared_error: 0.2106 - val_loss: 0.1986 - val_mean_squared_error: 0.1986
Epoch 9/10
7043/7043 - 4s - loss: 0.2090 - mean_squared_error: 0.2090 - val_loss: 0.2156 - val_mean_squared_error: 0.2156
Epoch 10/10
7043/7043 - 4s - loss: 0.2078 - mean_squared_error: 0.2078 - val_loss: 0.1964 - val_mean_squared_error: 0.1964

In [0]:
ypred=model.predict(xtest)

In [0]:
import numpy as np
print(xtest)
print(ypred)

[[9.86951505e-03 2.19934280e-05 8.93599237e-03 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [7.97673134e-03 1.90518070e-04 8.93599237e-03 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.13567022e-02 9.80540333e-05 8.98089686e-03 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [7.70633367e-03 1.86362229e-02 8.80127892e-03 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.11193017e-03 2.73515769e-03 8.89108789e-03 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [7.03033948e-03 1.29761225e-04 8.93599237e-03 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]
[[3.031009 ]
 [3.0046377]
 [3.4075005]
 ...
 [3.181159 ]
 [3.1704838]
 [3.217109 ]]

In [0]:
movie_list.isnull().any()

imdb_rating           False
imdb_votes            False
movie_id              False
movie_year_netflix     True
runtime               False
                      ...
TV-Y7-FV              False
UNRATED               False
Unrated               False
X                     False
Rating                False
Length: 61, dtype: bool

In [0]:
print(ypred.shape)
ytest=ytest.reshape((ytest.shape[0],1))
print(ytest.shape)
print(ypred,ytest)
data=np.hstack((ypred,ytest))
data_predicted_actual=pd.DataFrame(data,columns=['Predicted','Actual'])
data_predicted_actual.to_csv('/content/gdrive/My Drive/Reccommendation System/nnpred.csv',index=None)

(3774, 1)
(3774, 1)
[[3.031009 ]
 [3.0046377]
 [3.4075005]
 ...
 [3.181159 ]
 [3.1704838]
 [3.217109 ]] [[3.04195804]
 [3.15544872]
 [3.92191977]
 ...
 [3.56069555]
 [3.140625  ]
 [2.91212121]]

In [0]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import numpy as np
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.5, learning_rate = 0.5,
                max_depth = 5, alpha = 10, n_estimators = 50)

xg_reg.fit(xtrain,ytrain)
preds = xg_reg.predict(xtest)
preds_train = xg_reg.predict(xtrain)

rmse = np.sqrt(mean_squared_error(ytest, preds))
rmse_train = np.sqrt(mean_squared_error(ytrain, preds_train))
print("RMSE: %f" % (rmse))
print("RMSE_TRAIN: %f" % (rmse_train))
ytest=ytest.reshape((ytest.shape[0],1))
data_xg=np.hstack((ypred,ytest))
data_predicted_actual=pd.DataFrame(data_xg,columns=['Predicted','Actual'])

data_predicted_actual.to_csv('/content/gdrive/My Drive/Reccommendation System/xgpred.csv',index=None)

[07:00:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE: 0.335943
RMSE_TRAIN: 0.261801

In [0]:

from sklearn.cluster import KMeans

# TODO: Create an instance of KMeans to find two clusters
kmeans_1 = KMeans(n_clusters=4)
arr=kmeans_1.fit_predict(movie_list.iloc[:,:-1].values)

In [0]:
len(arr)
np.savetxt("/content/gdrive/My Drive/Reccommendation System/cluster.csv", arr)

In [0]:
movie_list.isnull().any()

imdb_rating           False
imdb_votes            False
movie_id              False
movie_year_netflix     True
runtime               False
                      ...
TV-Y7-FV              False
UNRATED               False
Unrated               False
X                     False
Rating                False
Length: 61, dtype: bool

In [0]:
movie_list['movie_year_netflix']=movie_list['movie_year_netflix'].fillna(method='ffill')

In [0]:
movie_list.head()

   imdb_rating  imdb_votes  movie_id  ...  Unrated  X    Rating
0          7.7       410.0         1  ...        0  0  3.749543
1          7.7     10015.0         3  ...        0  0  3.641153
2          6.2        39.0         6  ...        0  0  3.084396
3          5.0        62.0         7  ...        0  0  2.129032
4          6.5      1394.0        10  ...        0  0  3.180723

[5 rows x 61 columns]

In [0]:
arr=movie_list['Unrated'].values
arr=arr+movie_list['Not Rated'].values+ movie_list['UNRATED'].values+movie_list['NOT RATED'].values
movie_list['Unrated']=arr
arr1=movie_list['Approved'].values
arr1+=movie_list['APPROVED'].values
movie_list['Approved']=arr1
arr2=movie_list['Passed'].values
arr2+=movie_list['PASSED'].values
movie_list['Passed']=arr2
r=['UNRATED','Not Rated','NOT RATED','APPROVED','PASSED']
movie_list=movie_list.drop(r,axis=1)

In [0]:
movie_list=movie_list.drop(['movie_id'],axis=1)

In [0]:
movie_list.columns

Index(['imdb_rating', 'imdb_votes', 'movie_year_netflix', 'runtime',
       'Documentary', 'Crime', 'Musical', 'Sci-Fi', 'Comedy', 'Talk-Show',
       'History', 'Game-Show', 'Music', 'Short', 'Reality-TV', 'News', 'Adult',
       'Family', 'Biography', 'Western', 'War', 'Horror', 'Sport', 'Adventure',
       'Romance', 'Action', 'Thriller', 'Drama', 'Film-Noir', 'Fantasy',
       'Animation', 'Mystery', 'Approved', 'E', 'G', 'GP', 'M', 'M/PG',
       'NC-17', 'NR', 'PG', 'PG-13', 'Passed', 'R', 'TV-13', 'TV-14', 'TV-G',
       'TV-MA', 'TV-PG', 'TV-Y', 'TV-Y7', 'TV-Y7-FV', 'Unrated', 'X',
       'Rating'],
      dtype='object')

In [0]:
movie_list.isnull().any()

imdb_rating           False
imdb_votes            False
movie_year_netflix    False
runtime               False
Documentary           False
Crime                 False
Musical               False
Sci-Fi                False
Comedy                False
Talk-Show             False
History               False
Game-Show             False
Music                 False
Short                 False
Reality-TV            False
News                  False
Adult                 False
Family                False
Biography             False
Western               False
War                   False
Horror                False
Sport                 False
Adventure             False
Romance               False
Action                False
Thriller              False
Drama                 False
Film-Noir             False
Fantasy               False
Animation             False
Mystery               False
Approved              False
E                     False
G                     False
GP                    False
M                     False
M/PG                  False
NC-17                 False
NR                    False
PG                    False
PG-13                 False
Passed                False
R                     False
TV-13                 False
TV-14                 False
TV-G                  False
TV-MA                 False
TV-PG                 False
TV-Y                  False
TV-Y7                 False
TV-Y7-FV              False
Unrated               False
X                     False
Rating                False
dtype: bool

In [0]:
movie_list.to_csv('/content/gdrive/My Drive/Reccommendation System/final_dataset_unnormalized.csv',index=None)

In [0]:
df['rated']=df['rated'].replace({'NOT RATED': 'Unrated', 'Not Rated': 'Unrated', 'UNRATED':'Unrated', 'APPROVED':'Approved', 'PASSED':'Passed'})

In [0]:
df_all_cust = pd.read_csv('/content/gdrive/My Drive/combined_data_all.csv',header=0,encoding='latin-1')

In [0]:
def user_movies(cust_id):
  if cust_id in df_all_cust.Cust_Id.values:
    x = df_all_cust[df_all_cust['Cust_Id']==cust_id]
   
  return x

In [0]:
x=df_all_cust['Cust_Id'].unique()
print(x.shape)

df_all_cust.sort_values(by='Cust_Id',inplace=True)

(480189,)

In [0]:
import pandas as pd
df_rating = pd.read_csv('/content/gdrive/My Drive/Reccommendation System/avg_rat_movie.csv',header = 0, names = ['Movie_ID', 'Rating'],encoding='latin-1')

In [0]:
df_rating.shape
df_cluster = pd.read_csv('/content/gdrive/My Drive/Reccommendation System/cluster_movie.csv',header=None,names = ['Movie_ID', 'Cluster_ID'],encoding='latin-1')

In [0]:
from scipy import stats
import scipy

In [0]:

se=0
for i,k in enumerate(list(x[:1000])):
  userid=k
  df_user_movies = user_movies(userid)
  r=df_user_movies.iloc[-1,:]
  df_user_movies=df_user_movies.iloc[:-1,:]
  movie_id = r['movie_id']
  df_x = df_cluster.loc[df_cluster['Movie_ID'] == movie_id]
  if not df_x.empty:
    cluster_id =df_x['Cluster_ID'].values[0]
  
    
    mov_list=[]

    for index, row in df_user_movies.iterrows():
        df_clus = df_cluster.loc[df_cluster['Movie_ID'] == row['movie_id']]
        cluster_id_cur = df_clus['Cluster_ID']
        if len(cluster_id_cur.values) != 0:
          if cluster_id_cur.values[0]==cluster_id:
            mov_list.append(row['movie_id'])
    df_user_movies_new = df_user_movies[df_user_movies['movie_id'].isin(mov_list)]


    #avg rating of input movie 
    average_rating_ip_mov = df_rating.loc[df_rating['Movie_ID'] == movie_id]
    

    for index, row in df_user_movies_new.iterrows():
        df_movie_rat = df_rating[df_rating['Movie_ID'] == row['movie_id']]
        df_rating_mov = df_movie_rat['Rating']
        df_user_movies_new.loc[index, 'Average Rating'] = df_rating_mov.values[0]
  
    diff = 0
    count = 1
    mean = 1;

    for index, row in df_user_movies_new.iterrows():
      user_rat = row['Rating']
      avg_rat = row['Average Rating']
      diff = abs(avg_rat - user_rat) + diff
      count = count + 1

    mean = diff/count
    if i==0:
      correlation_user = scipy.stats.pearsonr(df_user_movies_new['Rating'], df_user_movies_new['Average Rating'].astype(int))

    val = average_rating_ip_mov['Rating'].values[0] + (mean * correlation_user[0])
    se+=(val-r['Rating'])**2


rmse=(se/len(x))**0.5
print(rmse)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

0.04570830026271424